<section class="admin card cf">
   <h1>Website Administration</h1>
   
   <ul class="nav nav-pills" id="data-categories">
       <li ng-class="{active: isSet(1)}"><a href ng-click="setTab(1)">Video</a></li>
       <li ng-class="{active: isSet(2)}" ><a href ng-click="setTab(2)">Audio</a></li>
       <li ng-class="{active: isSet(3)}"><a href ng-click="setTab(3)">Projects</a></li>
   </ul>
      <audio ng-show="isSet(2)" id="audio-player" src="" controls></audio> 
       <div ng-show="isSet(1)" id="video">
<!--        Current Videos-->
        <div class="cf">
            <div id="current-videos" class="video-inventory">
                <div ng-show="videoEditForm" class="data-edit-form" id="video-detail-edit">
                    <form  action="" name="video-detail-edit-form">
                       <ul>
                           <li>
                               <label for="title">Title:</label>
                               <input type="text" name="title"  ng-model="videotitle">
                           </li>
                           <li>
                               <label for="active">Active:</label>
                               <input ng-true-value="true" ng-false-value="false" type="checkbox" name="active"  ng-model="videoactive">
                           </li>
                           <li>
                               <label for="description">Description:</label>
                               <input type="text" name="description"  ng-model="videodescription">
                           </li>
                           <li>
                               <label for="metatags">Metatags:</label>
                               <input type="text" name="metatags"  ng-model="videometatags">
                           </li>
                           <li>
                               <label for="rating">Rating:</label>
                               <input type="text" name="rating"  ng-model="videorating">
                           </li><li>
                               <label for="videoid">VideoID:</label>
                               <input type="text" name="videoid"  ng-model="videoid">
                           </li>
                           <li>
                               <label for="workperformed">Work Performed:</label>
                               <input type="text" name="workperformed"  ng-model="videoworkperformed">
                           </li>
                       </ul>
                       <button type="submit" class="btn btn-default" ng-click="updateVideo()">Save Updated Data</button>
                       <button type="button" class="btn btn-default" ng-click="toggleVideoEditForm()">Cancel</button>
<!--                           <a href="#/admin" class="btn btn-danger">Cancel</a>-->
<!--                           <h1 ng-if="successMessage == 0">Data is Updated!</h1>-->
                   </form>
                </div>
                <button class="btn btn-default" ng-show="!videoEditForm" ng-click="addVideo()">Add Video</button>
                <input class="form-control" type="text" placeholder="keywordsearch" ng-model="videoSearchKeyword">
               <div class="admin-scrolling-list">
                   <ul ng-show="!videoEditForm" class="videolist">
                      
                       <li class="video-data" ng-repeat="(key , video) in videos | filter : videoSearchKeyword">
                           <table>
                               <tr>
                                   <td>{{video.title}}</td>
                                   <td><a href="https://youtu.be/{{video.videoId}}" target="_blank" class="video-thumbs-admin">

                           <img src="http://img.youtube.com/vi/{{video.videoId}}/0.jpg"  alt="videoID:{{video.$id}}"> 
                           </a></td>
                               </tr>
                           </table>

                           <table class="table table-responsive table-bordered table-striped">
                              <tr>
                                  <td>Title: {{video.title}}</td>
                                  <td><a href="https://youtu.be/{{video.videoId}}" target="_blank" class="video-thumbs-admin">

                           <img src="http://img.youtube.com/vi/{{video.videoId}}/0.jpg"  alt="videoID:{{video.$id}}"> 
                           </a></td>
                              </tr>
                               <tr>
                                   <td>Active: {{video.active}}</td>
                                   <td>Rating: {{video.rating}}</td>
                               </tr>
                               <tr>
                                    <td>Date Created: {{video.dateCreated}}</td> 
                                    <td>
                                        Date Modified: {{video.dateModified}}
                                    </td>
                               </tr>
                               <tr>
                                    <td>Video ID: {{video.videoId}}</td>   
                                    <td>Metatags: {{video.metatags}}</td>
                               </tr>
                               <tr>
                                   <td>Description: {{video.description}}</td> 
                                   <td>WorkPerformed: {{video.workPerformed}}</td>   
                               </tr>

                           </table>
                           <button class="btn btn-default" ng-click="editVideo(video)">Edit</button>



                       </li>
                   </ul>
               </div>
            </div>
       </div>
        
    </div>
       <div ng-show="isSet(2)" id="audio">
    <!--        Current Audio Files-->
        <div class="cf">
            <div id="current-audio" class="audio-inventory">
               
                <div ng-show="audioEditForm" class="data-edit-form" id="audio-detail-edit">
                    <form  action="" name="audio-detail-edit-form">
                       <ul>
                           <li>
                               <label for="title">Title:</label>
                               <input type="text" name="title"  ng-model="audiotitle">
                           </li>
                           <li>
                               <label for="active">Active:</label>
                               <input ng-true-value="true" ng-false-value="false" type="checkbox" name="active"  ng-model="audioactive">
                           </li>
                           <li>
                               <label for="description">Description:</label>
                               <input type="text" name="description"  ng-model="audiodescription">
                           </li>
                           <li>
                               <label for="metatags">Metatags:</label>
                               <input type="text" name="metatags"  ng-model="audiometatags">
                           </li>
                           <li>
                               <label for="rating">Rating:</label>
                               <input type="text" name="rating"  ng-model="audiorating">
                           </li><li>
                               <label for="audiosource">Source:</label>
                               <input type="text" name="audiosource"  ng-model="audiosource">
                           </li>
                           <li>
                               <label for="audioimg">Image File:</label>
                               <input type="text" name="audioimg" ng-model="audioimage">
                           </li>
                           <li>
                               <label for="audiotype">Type:</label>
                               <input type="text" name="audiotype" ng-model="audiotype">
                           </li>
                           <li>
                               <label for="audioprojectID">Project ID: </label>
                               <input type="text" name="audioprojectID" ng-model="audioprojectID">
                           </li>
                       </ul>
                       <button type="submit" class="btn btn-default" ng-click="updateAudio()">Save Updated Audio </button>
                       <button type="button" class="btn btn-default" ng-click="toggleAudioEditForm()">Cancel</button>

                   </form>
                </div>
                <button class="btn btn-default" ng-show="!audioEditForm" ng-click="addAudio()">Add Audio</button>
                <input class="form-control" type="text" placeholder="keywordsearch" ng-model="audioSearchKeyword">
               <div class="admin-scrolling-list">
                   <ul ng-show="!audioEditForm" class="audiolist">
                   
                   <li class="audio-data" ng-repeat="track in audios | filter : audioSearchKeyword">
                       
                       <table class="table table-responsive table-bordered table-striped">
                          <tr>
                              <td>Title: {{track.title}}</td>
                              <td><button class="btn btn-default" ng-click="getAudioSource(track)"><span class="glyphicon glyphicon-play"></span> Play Track</button></td>

                          </tr>
                           <tr>
                               <td>Active: {{track.active}}</td>
                               <td>Rating: {{track.rating}}</td>
                           </tr>
                           <tr>
                                <td>Date Created: {{track.dateCreated | date}}</td> 
                                <td>
                                    Date Modified: {{track.dateModified | date}}
                                </td>
                           </tr>
                           <tr>
                                <td>Source File: {{track.src}}</td>   
                                <td>Metatags: {{track.meta}}</td>
                           </tr>
                           <tr>
                               <td>Description: {{track.description}}</td> 
                               <td><button class="btn btn-default" ng-click="editAudio(track)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                               <button class="btn btn-default" ng-click="deleteAudio(track)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                               </td>   
                           </tr>
                        
                       </table>
                       
                   </li>
               </ul>
               </div>
            </div>
            
        </div>
    
    </div>
       <div ng-show="isSet(3)" id="projects">
<!--        Projects-->
        <div class="cf">
           <div ng-show="projectEditForm" class="data-edit-form" id="project-detail-edit">
               <form action="" name="project-detail-edit-form">
                   <ul>
                       <li>
                       <label for="discID">Disc ID: </label>
                       <input name="discID" type="text" ng-model="discid">
                       </li>

                       <li>
                       <label for="projectID">Project ID:</label>
                       <input name="projectID" ng-model="projectID" type="text">
                       </li>

                       <li>
                       <label for="disctype">Disc Type:</label>
                       <input name="disctype" ng-model="disctype" type="text">

                       </li>

                       <li>
                       <label for="software">Encoding Software:</label>
                       <input name="software" ng-model="encodingsoftware" type="text">
                       </li>                           
                       <li>
                       <label for="projectname">Project Name:</label>
                       <input name="projectname" ng-model="projectName" type="text">
                       </li>
                       <li>
                       <label for="projectbegin">Project Begin Date: </label>
                       <input name="projectbegin" ng-model="projectBeginDate" type="text">
                       </li>
                       <li>
                       <label for="projectend">Project End Date: </label>
                       <input name="projectend" ng-model="projectEndDate" type="text">
                       </li>
                       <li>
                       <label for="projectlink">Link to Cloud Backup: </label>
                       <input name="projectlink" ng-model="linkToCloudBackup" type="text">
                       </li>
                       <li>
                       <label for="projectdescription">Description: </label>
                       <input name="projectdescription" ng-model="projectDescription" type="text">
                       </li>

                   </ul>
                   <button type="submit" class="btn btn-default" ng-click="updateProject()">Submit</button>
                   <button type="button" ng-click="toggleProjectForm()" class="btn btn-default">Cancel</button>
               </form>
           </div>
           <div id="projects" class="project-list">
               <button class="btn btn-default" ng-show="!projectEditForm" ng-click="addProject()">Add Project</button>
               <input class="form-control" type="text" placeholder="keywordsearch" ng-model="projectSearchKeyword">
                <div class="admin-scrolling-list">

                   <ul ng-show="!projectEditForm" class="projectlist">
                     
                      <li class="project-data" ng-repeat="project in projects | filter : projectSearchKeyword">
                          <table class="table table-responsive table-bordered table-striped">
                             <thead>
                                 <tr>
                                     <th class="col-xs-2"></th>
                                     <th class="col-xs-2"></th>
                                     <th class="col-xs-8"></th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                      <td>Disc ID: {{project.DiscID}}</td>
                                      <td>Project ID: {{project.ProjectID}}</td>
                                      <td>Disc Type: {{project.Disc_Type}}</td>
                                  </tr>
                                  <tr>
                                      <td>Project Beginning: {{project.ProjectBeginDate}}</td>
                                      <td>Project End: {{project.ProjectEndDate}}</td>
                                      <td>Project Name:  {{project.ProjectName}}</td>
                                  </tr>
                                  <tr>
                                      <td>Date Created: {{project.dateCreated | date}}</td>
                                      <td>Date Modified: {{project.dateModified | date}}</td>
                                      <td>Backup Link: {{project.Link_to_Cloud_Backup}}</td>
                                  </tr>
                                  <tr>
                                      <td><button class="btn btn-default" ng-click="editProject(project)"><span class="glyphicon glyphicon-edit"></span>Edit</button><button class="btn btn-default" ng-click="deleteProject(project)">Delete</button></td>
                                      <td>Software: {{project.Encoding_Software}}</td>
                                      <td>Description: {{project.ProjectDescription}}</td>
                                  </tr>
                             </tbody>
                          </table>
                      </li>

                   </ul>
                </div>
           </div>
       </div>   
       
    </div>
  
    
    
   

</section>