<section class="albums">
    <div ng-show="isSet(2)" class="list-group">
       <div ng-show="isSet(2)&&subIsSet(3)" id="album-focus">
            <div class="image-container">
                <img src="https://storage.googleapis.com/chrisspencercreative/images/cd_images/{{albumFocus.image}}" alt="Album Focus Image">
            </div>
       </div>
        <div id="albums" class="album-list cf">
               <div class="" ng-model="albums">
                   <div class="">
                       <div class="">
                           <div class="audio" ng-repeat="album in albums 
                           ">
                               <a href ng-click="getAlbumInfo(album)">
                                   <div class="album-item">
                                       <div class="albumImg image-container"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/cd_images/{{album.image}}" alt="Album Item Image"></div>
                                       <div class="albumTitle"><span>{{album.title}}</span></div>
                                   </div>
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
                <div class="track-filter-button">
                    <button ng-click="filterTracksbyAlbum()" class="btn btn-primary">Filter Tracks by Album Selection</button>
                </div>
                      
    </div>
</section>