<section class="card thanks">
    <p>Thanks for your booking request, we&#39;ll send an email confirmation as soon as possible.</p>
    <h2>Check your email for an invoice from WaveApps!</h2>
    <p>We use WaveApps for processing payments and we&#39;ll either send a deposit request or an invoice for your session prepayment &#40;depending on what you chose when you booked the session&#41;.  In order to hold the booking, deposits or prepayments are due within 24hrs of the confirmation</p>
</section>