<section>
    <div class = "row">
        <div id="maintext" class = "col-md-8 maintext">
            <header role="heading">
            <h1>Booking</h1>
            </header>
                <section>
                    <p>If you are booking time please check out the <a ng-href="#!/studio-policy">Studio Policies</a> first. You can either contact us by <a href="tel:2064862890">phone</a> or <a href="mailto:info@sophiahatstudio.com" title="email address link">email</a>, or put in a request through our our online scheduler below. Please note that you need to receive confirmation from us before considering yourself booked for the time.</p>	
                    <h3>COVID-19 Update</h3>
                    <p>Due to our increased concerns in safety, we are booking fewer live sessions and making much of our work as contactless as possible. Therefore, your request for time will not be confirmed instantly, we will have follow up with you.  Thanks for your patience in our careful handling of your scheduling requests!</p>

                    <div class="panel-group accordion" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#chris-calendar"><a href="" onclick="Calendly.showPopupWidget('https://calendly.com/chris-spencer-sophiahat');return false;">Book Time with Chris</a></h4>
                                <p></p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#jeremy-calendar"><a href="" onclick="Calendly.showPopupWidget('https://calendly.com/jeremy-wesley-sophiahat');return false;">Book Time with Jeremy</a></h4>
                                <p></p>

                            </div>
                            
                        </div>

                    </div>			
            </section>	
        </div>
        <div class = "col-md-4">
            <aside role="complementary">
                <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
    </div>
     
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'UA-20609405-1', {
            'page_title' : 'Booking',
            'page_location' : url,
            'page_path' : '/#!/booking'
      });
    </script>
</section>