<section class="card thanks">
    <p>Thanks for your booking request, we&#39;ll send an email confirmation as soon as possible.</p>
<!--
    <h2>Check your email for an invoice from WaveApps!</h2>
    <p>We use WaveApps for processing payments and we&#39;ll either send a deposit request or an invoice for your session prepayment &#40;depending on what you chose when you booked the session&#41;.  In order to hold the booking, deposits or prepayments are due within 24hrs of the confirmation</p>
-->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'G-PPSLQ4H1YW', {
            'page_title' : 'Booking Submission Confirmation',
            'page_location' : url,
            'page_path' : '/#!/bookingsubmission'
      });
    </script>
</section>