<section>
    <div class = "row">
        <div id="mainText" class = "col-md-8 mainText">
            <header role="heading">
            <h1>Booking</h1>
            </header>
                <section>
                    <p>If you are booking time please check out the <a href="studiopolicy.html">Studio Policies</a> first. You can either contact us by <a href="tel:2067997761">phone</a> or <a href="mailto:info@sophiahatstudio.com" title="email address link">email</a>, or put in a request through our our online scheduler below. Please note that you need to receive confirmation from us before considering yourself booked for the time.</p>	

                                                    <div class="panel-group accordion" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#chris-calendar">Book Time with Chris</h4>
                                <p></p>
                            </div>
                            <div class="panel-collapse collapse" id="chris-calendar">
                                <div class="panel-body">
                                    <!-- Calendly inline widget begin -->
                                    <div class="calendly-inline-widget" data-url="https://calendly.com/chris-spencer-sophiahat" style="min-width:320px;height:580px;"></div>
                                    <script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#jeremy-calendar">Book Time with Jeremy</h4>
                                <p></p>

                            </div>
                            <div class="panel-collapse collapse" id="jeremy-calendar">
                                <div class="panel-body">
                                     <!-- Calendly inline widget begin -->
                                    <div class="calendly-inline-widget" data-url="https://calendly.com/jeremy-wesley-sophiahat" style="min-width:320px;height:580px;"></div>
                                    <script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end --> 
                                </div>          
                            </div>
                        </div>

                    </div>			
            </section>	
        </div>
        <div class = "col-md-4">
            <aside role="complementary">
                <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
    </div>
</section>