<section class="carousel">
   
    <div id="carousel-main" class="carousel carousel-slide" data-interval="10000" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-main" data-slide-to="1"></li>
        <li data-target="#carousel-main" data-slide-to="2"></li>
        <li data-target="#carousel-main" data-slide-to="3"></li>
        <li data-target="#carousel-main" data-slide-to="4"></li>
        <li data-target="#carousel-main" data-slide-to="5"></li>
        <li data-target="#carousel-main" data-slide-to="6"></li>
        <li data-target="#carousel-main" data-slide-to="7"></li>
        <li data-target="#carousel-main" data-slide-to="8"></li>
        
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item  item active">
          <img class="d-block w-90"  src="/images/headers/BannerNew2.jpg" alt="First slide">
        </div>
        <div class="carousel-item item">
          <img class="d-block w-90"  src="/images/headers/Red3.jpg" alt="Second slide">
        </div>
        <div class="carousel-item item">
          <img class="d-block w-90"  src="/images/headers/console.jpg" alt="Third slide">
        </div>
        <div class="carousel-item item">
          <img class="d-block w-90"  src="/images/headers/2mics.jpg" alt="Fourth slide">
        </div>
        <div class="carousel-item item">
          <img class="d-block w-90"  src="/images/headers/drumRoom.jpg" alt="Fifth slide">
        </div>
        <div class="carousel-item item">
          <img class="d-block w-90"  src="/images/headers/SophiaHatTracking1_1.jpg" alt="Sixth slide">
        </div>
        <div class="carousel-item item">
          <img class="d-block w-90"  src="/images/headers/waveform_post.png" alt="Seventh slide">
        </div>
        <div class="carousel-item item">
          <img class="d-block w-90"  src="/images/headers/diffusors.jpg" alt="Eighth slide">
        </div>
        <div class="carousel-item  item active">
          <img class="d-block w-90"  src="/images/headers/pianoKeys.jpg" alt="Ninth slide">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</section>