<section>
<div class = "row">
    <div class = "col-md-8 mainText">
        <header role="heading">
            <h1>Clients</h1>
            </header>
        <div class= "row">
            <div class = "col-md-6">
            <section>
                <h2>Musicians/Bands</h2>
                <p>
                Here&#39;s a list of musical projects that we have been involved with over the years.  You&#39;ll find links to their work as well.  
             </p>
                <div class="scroll-box">
                            <table  class="table-responsive">
                                <table id="music-clients" class="table table-bordered table-hover clients">
                                    <tr>
                                        <td><a href="http://innocentwords.com/kathy-moore-tone-completely-her-own/" target="_blank"><img src="images/client_images/KathyMoore2.jpg" ></a></td>
                                        <td><a href="http://innocentwords.com/kathy-moore-tone-completely-her-own/" target="_blank">The Kathy Moore Situation</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.artno.com/bongo/" target="_blank"><img src="images/client_images/JeffBusch.jpg"</a></td>
                                        <td><a href="http://www.artno.com/bongo/" target="_blank">Jeff Busch</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.totalexperiencegospelchoir.org/" target="_blank"><img src="images/client_images/TotalExperience.jpg"</a></td>
                                        <td><a href="http://www.totalexperiencegospelchoir.org/" target="_blank">Total Experience Gospel Choir</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.mattjorgensen.com/" target="_blank"><img src="images/client_images/MattJorgensen.jpg"</a></td>
                                        <td><a href="http://www.mattjorgensen.com/" target="_blank">Matt Jorgensen</a></td>
                                    </tr>
                                    <tr>
                                    <td><a href="http://originarts.com/recordings/recording.php?TitleID=82467" target="_blank"><img src="images/client_images/BigNeighborhood.jpg"</a></td>
                                    <td><a href="http://originarts.com/recordings/recording.php?TitleID=82467" target="_blank">Big Neighborhood</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.jukesongs.com/" target="_blank"><img src="images/client_images/juke.jpg"></a></td>
                                        <td><a href="http://www.jukesongs.com/" target="_blank">Juke</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.maypalmer.com/" target="_blank"><img src="images/client_images/MayPalmer.jpg"></a></td>
                                        <td><a href="http://www.maypalmer.com/" target="_blank">May Palmer</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.origin-records.com/artists/artist.php?Artist_ID=31" target="_blank"
    ><img src="images/client_images/DougMiller.jpg"</a></td>
                                        <td><a href="http://www.origin-records.com/artists/artist.php?Artist_ID=31" target="_blank"
    >Doug  Miller</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.cynthiamullis.com/" target="_blank"><img src="images/client_images/CynthiaMullis.jpg"></a></td>
                                        <td><a href="http://www.cynthiamullis.com/" target="_blank">Cynthia Mullis</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://heatherbblues.com/index.html" target="_blank"><img src="images/client_images/HeatherBanker.jpg"></a></td>
                                        <td><a href="http://heatherbblues.com/index.html" target="_blank">Heather
    Banker</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.myspace.com/motel5" target="_blank"><img src="images/client_images/Motel5.jpg"></a></td>
                                        <td><a href="http://www.myspace.com/motel5" target="_blank">Motel 5</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.swojo.com/" target="_blank"><img src="images/client_images/Swojo.jpg"></a></td>
                                        <td><a href="http://www.swojo.com/" target="_blank">Seattle Womens Jazz Orchestra</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://katy-bourne.com/" target="_blank"><img src="images/client_images/KatyBourne.jpg"></a></td>
                                        <td><a href="http://katy-bourne.com/" target="_blank">Katy Bourne</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.cdbaby.com/Artist/RyanGraves1" target="_blank"><img src="images/client_images/RyanGraves.jpg"></a></td>
                                        <td><a href="http://www.cdbaby.com/Artist/RyanGraves1" target="_blank">Ryan Graves</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="http://www.thorntoncreek.com/" target="_blank"><img src="images/client_images/ThorntonCreek.jpg"></a></td>
                                        <td><a href="http://www.thorntoncreek.com/" target="_blank">Thornton Creek</a></td>
                                    </tr>

                                </table>
                            </table>
                        </div>
                    </section>
                </div>
        <div class = "col-md-6">
            <section>
                <h2>Corporate</h2>
                <p>
                Sophiahat is also dedicated to providing quality audio for corporate clients as well.  Check out our <a href="services.html" title="link to services page">Services</a> to see what types of services we offer. 
             </p>
                <div class="scroll-box">
                        <table class="table-responsive">
                            <table id="corporate-clients" class="table table-bordered table-hover clients">
                                <tr>
                                    <td><a href="http://www.pro-ent.com" target="_blank"><img src="images/client_images/ProfessionalEntertainmentConsultants.jpg"></a></td>
                                    <td><a href="http://www.pro-ent.com" target="_blank">Professional Entertainment Consultants</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.partnersinprime.net" target="_blank"><img src="images/client_images/PartnersinPrime.jpg"></a></td>
                                    <td><a href="http://www.partnersinprime.net" target="_blank">Partners in Prime</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.thieveryproductions.com/" target="_blank"><img src="images/client_images/ThieveryProductions.jpg"></a></td>
                                    <td><a href="http://www.thieveryproductions.com/" target="_blank">Theivery Productions</a></td>
                                </tr>
                                <tr>
                                    <td><a
    href="http://www.itbooks.net/book/Tappans-Burro/9781602451193/"
    target="_blank"><img src="images/client_images/GDLMultimedia.jpg"></a></td>
                                    <td><a
    href="http://www.itbooks.net/book/Tappans-Burro/9781602451193/"
    target="_blank">GDL Multimedia</a></td>
                                </tr>
                                <tr>
                                    <td><a
    href="http://www.sablejak.com/" 
    target="_blank"><img src="images/client_images/SableJak.jpg"></a></td>
                                    <td><a
    href="http://www.sablejak.com/" 
    target="_blank">Sebastion T
    Sweet
    Productions</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://beckermayer.com/" target="_blank" title="BeckerMayer"><img src="images/client_images/BeckerMeyer.jpg"></a></td>
                                    <td><a href="http://beckermayer.com/"  target="_blank">Becker&amp;Mayer!</a></td>
                                </tr>
                                <tr>
                                    <td><a
    href="http://www.ign.com/companies/loose-cannon-studios" 
    target="_blank"><img src="images/client_images/LooseCanonStudios.jpg"></a></td>
                                    <td><a
    href="http://www.ign.com/companies/loose-cannon-studios" 
    target="_blank">Loose Canon Studios</a></td>
                                </tr>
                                <tr>
                                    <td><a
    href="http://mmt.moonfruit.com/" 
    target="_blank"><img src="images/client_images/MidnightMysteryTheatre.jpg"></a></td>
                                    <td><a
    href="http://mmt.moonfruit.com/" 
    target="_blank">The Midnight
    Mystery Radio Theatre</a></td>
                                </tr>

                                <tr>
                                    <td><a
    href="https://www.linkedin.com/company/conexi-n-marketing" 
    target="_blank"><img src="images/client_images/ConexionMarketing.jpg"></a></td>
                                    <td><a
    href="https://www.linkedin.com/company/conexi-n-marketing" 
    target="_blank">Conexion Marketing</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://larkwire.com/" 
    target="_blank"><img src="images/client_images/Larkwire.jpg"></a></td>
                                    <td><a href="http://larkwire.com/" 
    target="_blank">LarkWire</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://mithun.com/" 
    target="_blank"><img src="images/client_images/Mithun.jpg"></a></td>
                                    <td><a href="http://mithun.com/" 
    target="_blank">Mithun</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.ember-entertainment.com" 
    target="_blank" title="Ember Entertainment"><img src="images/client_images/EmberEntertainment.jpg"></a></td>
                                    <td><a href="http://www.ember-entertainment.com" 
    target="_blank" title="Ember Entertainment">Ember Entertainment</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.fearthegun.com" 
    target="_blank" title="Gun"><img src="images/client_images/GunMedia.jpg"></a></td>
                                    <td><a href="http://www.fearthegun.com" 
    target="_blank" title="Gun">Gun Media</a></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.littlefilms.net/" 
    target="_blank" title="Little Films"><img src="images/client_images/LittleFilms.jpg"></a></td>
                                    <td><a href="http://www.littlefilms.net/" 
    target="_blank" title="Little Films">Little Films</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.att.com"
    target="_blank" title = "At&t Mobile"><img src="images/client_images/ATT.jpg"></a></td>
                                    <td><a href = "http://www.att.com"
    target="_blank" title = "At&t Mobile">At&t Mobile</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "https://www.facebook.com/marylouwilliamsproject/timeline"
    target="_blank" title = "Mary Lou Williams Documentary" ><img src="images/client_images/MaryLouWilliams.jpg"></a></td>
                                    <td><a href = "https://www.facebook.com/marylouwilliamsproject/timeline"
    target="_blank" title = "Mary Lou Williams Documentary" >Mary Lou Williams Documentary</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.bartaphoto.com/"
    target="_blank" title = "Patrick Barta Photography" ><img src="images/client_images/PatrickBartaPhotography.jpg"></a></td>
                                    <td><a href = "http://www.bartaphoto.com/"
    target="_blank" title = "Patrick Barta Photography" >Patrick Barta Photography</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://tiffanytalent.com/"
    target="_blank" title = "Tiffany Talent" ><img src="images/client_images/TiffanyTalent.jpg"></a></td>
                                    <td><a href = "http://tiffanytalent.com/"
    target="_blank" title = "Tiffany Talent" >Tiffany Talent</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "https://www.pluscitizen.com/"
    target="_blank" title = "Plus Citizen" ><img src="images/client_images/PlusCitizen.jpg"></a></td>
                                    <td><a href = "https://www.pluscitizen.com/"
    target="_blank" title = "Plus Citizen" >Plus Citizen</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.dalbright.com/"
    target="_blank" title = "Daveid Albright Media" ><img src="images/client_images/DavidAlbrightMedia.jpg"></a></td>
                                    <td><a href = "http://www.dalbright.com/"
    target="_blank" title = "Daveid Albright Media" >David Albright Media</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://allrecipes.com/"
    target="_blank" title = "allRecipes.com" ><img src="images/client_images/AllRecipes.jpg"></a></td>
                                    <td><a href = "http://allrecipes.com/"
    target="_blank" title = "allRecipes.com" >AllRecipes.com</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.adp.com/"
    target="_blank" title = "ADP" ><img src="images/client_images/Adp.jpg"></a></td>
                                    <td><a href = "http://www.adp.com/"
    target="_blank" title = "ADP" >ADP</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.theoffhoursfilm.com/"
    target="_blank" title = "Off Hours Film" ><img src="images/client_images/TheOffHoursFilm.jpg"></a></td>
                                    <td><a href = "http://www.theoffhoursfilm.com/"
    target="_blank" title = "Off Hours Film" >The Off Hours Film</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.fairwaystudios.com/"
    target="_blank" title = "Fairway Studios" ><img src="images/client_images/FairwayStudios.jpg"></a></td>
                                    <td><a href = "http://www.fairwaystudios.com/"
    target="_blank" title = "Fairway Studios" >Fairway Studios</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.imdb.com/title/tt1742336/?ref_=nm_knf_i1"
    target="_blank" title = "Your Sisters Sister" ><img src="images/client_images/YourSistersSister.jpg"></a></td>
                                    <td><a href = "http://www.imdb.com/title/tt1742336/?ref_=nm_knf_i1"
    target="_blank" title = "Your Sisters Sister" >Your Sister&#39;s Sister</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.frogdesign.com/"
    target="_blank" title = "Frog Design" ><img src="images/client_images/Frog.jpg"></a></td>
                                    <td><a href = "http://www.frogdesign.com/"
    target="_blank" title = "Frog Design" >Frog Design</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.medialocate.com/"
    target="_blank" title = "Media Locate" ><img src="images/client_images/MediaLocate.jpg"></a></td>
                                    <td><a href = "http://www.medialocate.com/"
    target="_blank" title = "Media Locate" >Media Locate</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://enterthestudio.com/"
    target="_blank" title = "Enter the Studio" ><img src="images/client_images/EnterTheStudio.jpg"></a></td>
                                    <td><a href = "http://enterthestudio.com/"
    target="_blank" title = "Enter the Studio" >Enter The Studio</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.lionskyproductions.com/"
    target="_blank" title = "Lion Sky Productions" ><img src="images/client_images/LionSkyProductions.jpg"></a></td>
                                    <td><a href = "http://www.lionskyproductions.com/"
    target="_blank" title = "Lion Sky Productions" >Lion Sky Productions</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.northshorepro.com/"
    target="_blank" title = "North Shore Productions" ><img src="images/client_images/NorthShoreProductions.jpg"></a></td>
                                    <td><a href = "http://www.northshorepro.com/"
    target="_blank" title = "North Shore Productions" >North Shore Productions</a></td>
                                </tr>
                                <tr>
                                    <td><a href = "http://www.nwrpca.org/"
    target="_blank" title = "Northwest Regional Primary Care Association" ><img src="images/client_images/NWRPCA.jpg"></a></td>
                                    <td><a href = "http://www.nwrpca.org/"
    target="_blank" title = "Northwest Regional Primary Care Association" >Northwest Regional Primary Care Association</a></td>
                                </tr>
                            </table>
                        </table>
                </div>
                <div class="clients" id="corporate-clients"></div>
            </section>
        </div>
        </div>
    </div>
    <div class = "col-md-4">
        <aside role="complementary">
            <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
        </aside>
    </div>
    </div>
</section>