<section class="clients">
<div class = "row">
    <div class = "col-md-8 maintext">
        <header role="heading">
            <h1>Clients</h1>
            </header>
        <div class= "row">
            <div class = "col-md-12">
            <section>
               <div class="panel-group accordion" id="accordion">
                   <div class="panel panel-default">
                       <div class="panel-heading"><h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#music-clients">Musicians/Bands</h4></div>
                   </div>
                   <div id="music-clients" class="panel-collapse collapse touch-scroll">
                    <p>
                        Here&#39;s a list of musical projects that we have been involved with over the years.  You&#39;ll find links to their work as well.  
                     </p>
                    <ul>
                        <li ng-repeat="client in clients | filter: client.type='musician'" ng-show="client.showSophiahat&&client.active">
                            <div class="client-image">
                                <a ng-href="{{client.url}}" target="_blank"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/client_images/{{client.image}}" alt="client image"></a>
                            </div>
                            <div class="client-url"><a ng-href="{{client.url}}" target="_blank">{{client.name}}</a></div>
                        </li>
                    </ul>
                            
                    </div>
                    <div class="panel panel-default">
                       <div class="panel-heading"><h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#corporate-clients">Corporate</h4></div>
                   </div>
                   <div id="corporate-clients" class="panel-collapse collapse touch-scroll">
                        <p>
                            Sophiahat is also dedicated to providing quality audio for corporate clients as well.  Check out our <a href="services.html" title="link to services page">Services</a> to see what types of services we offer. 
                        </p>
                        <ul id="corporate-clients">
                        <li ng-repeat="client in clients | filter: client.type='corporate'" ng-show="client.showSophiahat&&client.active">
                            <div class="client-image">
                                <a ng-href="{{client.url}}" target="_blank"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/client_images/{{client.image}}" alt="client image"></a>
                            </div>
                            <div class="client-url"><a ng-href="{{client.url}}" target="_blank">{{client.name}}</a></div>
                        </li>
                    </ul>    
                    </div>
               </div>
            </section>
        </div>
        </div>
    </div>
    <div class = "col-md-4">
        <aside role="complementary">
            <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
        </aside>
    </div>
    </div>
     
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'UA-20609405-1', {
            'page_title' : 'Clients',
            'page_location' : url,
            'page_path' : '/#!/clients'
      });
    </script>
</section>