<section>
<div class = "row">
    <div class = "col-md-8 maintext">
        <header role="heading">
            <h1>Clients</h1>
            </header>
        <div class= "row">
            <div class = "col-md-6">
            <section>
                <h2>Musicians/Bands</h2>
                <p>
                Here&#39;s a list of musical projects that we have been involved with over the years.  You&#39;ll find links to their work as well.  
             </p>
                <div class="touch-scroll">
                            
                    <table id="music-clients" class="table-responsive table table-bordered table-hover">
                        <tr class="clients" ng-repeat="client in clients | filter: client.type='musician'" ng-show="client.showSophiahat&&client.active">
                            <td><a ng-href="{{client.url}}" target="_blank"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/client_images/{{client.image}}" alt="client image"></a></td>
                            <td><a ng-href="{{client.url}}" target="_blank">{{client.name}}</a></td>
                        </tr>                       
                    </table>
                            
                </div>
            </section>
        </div>
        <div class = "col-md-6">
            <section>
                <h2>Corporate</h2>
                <p>
                Sophiahat is also dedicated to providing quality audio for corporate clients as well.  Check out our <a href="services.html" title="link to services page">Services</a> to see what types of services we offer. 
             </p>
                <div class="touch-scroll">
                        
                    <table id="corporate-clients" class="table table-responsive table-bordered table-hover clients">
                        <tr class="clients" ng-repeat="client in clients | filter: client.type='corporate'" ng-show="client.showSophiahat&&client.active">
                            <td><a ng-href="{{client.url}} "target="_blank"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/client_images/{{client.image}}" alt="client image"></a></td>
                            <td><a ng-href="{{client.url}}" target="_blank">{{client.name}}</a></td>
                        </tr>
                    </table>
                        
                </div>
                <div class="clients" id="corporate-clients"></div>
            </section>
        </div>
        </div>
    </div>
    <div class = "col-md-4">
        <aside role="complementary">
            <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
        </aside>
    </div>
    </div>
     
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'UA-20609405-1', {
            'page_title' : 'Clients',
            'page_location' : url,
            'page_path' : '/#!/clients'
      });
    </script>
</section>