<section class="card">
<div class="row">

    <div class="col-md-12 maintext">
       <p>Please send any inquiries to <a href="mailto:info@sophiahatstudio.com">infoAtSophiahatStudioDotCom</a> or fill out the form below. We&#39;ll try our best to get back to you as soon as possible. Would you rather just book some time? </p> 
       <p><a class="btn btn-danger" ng-href="#!/booking">Book Online</a></p>
       
        <form action="feedback.php" method="post" id="cs-contact-form" class="" accept-charset="UTF-8">
        <fieldset>
            <legend>
                <h2>Contact</h2>
            </legend>
            
        <div class="form-group">
            <label class="col-sm-3 control-label" for="cs-formname">Name</label> 
            <div class="col-sm-9">
                <input type="text" class="form-control input-md" name="fullname" id="cs-formname" required placeholder="First and Last Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="cs-formemail">Email</label> 
            <div class="col-sm-9">
                <input type="text" class="form-control input-md" id="cs-formemail" name="email" required placeholder="name@example.com">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="cs-formcomments">Comments</label><br>&nbsp;<br>
            <div class="col-md-9">
                <textarea class="form-control input-md" rows="15" name="comments" id="cs-formcomments" placeholder="Comments or Message"></textarea>
            </div>
        </div>
            <input class="btn btn-default" id="cs-formsubmit" type="submit" value="Submit">
        </fieldset>
    </form>
    </div>
</div>
 
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'UA-20609405-1', {
            'page_title' : 'Contact',
            'page_location' : url,
            'page_path' : '/#!/contact'
      });
    </script>
</section>
