<section class="card">
<div class="row">
    <div class="col-md-12">
        <form action="feedback.php" method="post" id="cs-contact-form" class="" accept-charset="UTF-8">
        <fieldset>
            <legend>
                <h2>Contact</h2>
            </legend>
            
        <div class="form-group">
            <label class="col-sm-3 control-label" for="cs-formname">Name</label> 
            <div class="col-sm-9">
                <input type="text" class="form-control input-md" name="fullname" id="cs-formname" required placeholder="First and Last Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="cs-formemail">Email</label> 
            <div class="col-sm-9">
                <input type="text" class="form-control input-md" id="cs-formemail" name="email" required placeholder="name@example.com">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="cs-formcomments">Comments</label><br>&nbsp;<br>
            <div class="col-md-9">
                <textarea class="form-control input-md" rows="15" name="comments" id="cs-formcomments" placeholder="Comments or Message"></textarea>
            </div>
        </div>
            <input class="btn btn-default" id="cs-formsubmit" type="submit" value="Submit">
        </fieldset>
    </form>
    </div>
</div>
</section>
