<section class="card">
    <div class="row">
        <div class="col-md-8 maintext">
            <header role="heading">
                <h1>Preparing your Project for Mix</h1>
            </header>
            <h2>Intro</h2>
            <p>Generally, we won't be able to use your DAW session file, no matter what DAW you used.  In order for us to reassemble your project we will need you to render your tracks as audio.</p>
            <p>This guide is a quick walthrough of the process...</p>
            <h2>Step 1 - Bounce/Render a Rough Mix</h2>
            <p>These mixes really do not need that much effort, we just need a rough idea of the song and all of the elements in there.  If you want to take your time and craft your best mix, that&#39;s OK too, it will give us a better idea of your vision for the song.  </p>
            <h2>Step 2 - Label Tracks in your DAW Meaningfully</h2>
            <p>When you bounce your tracks each file will inherit the name of the track.  It&#39;s important to give them a meaningful name, so that we know what we are dealing with as we put your session together.  </p>
            <p>Title track with the instrument name and any other descriptor you find helpfull.  Here are some examples:</p>
            <ul>
                <li>SnareTop</li>
                <li>SnareBottom</li>
                <li>BackgroundVocal-1</li>
                <li>BackgroundVocal-2</li>
                <li>Overhead-Left</li>
                <li>Overhead-Right</li>
            </ul>
            <p>Descriptions like these make our session preparation fast and accurate.</p>
            <h2>Step 3 - Export Tracks</h2>
            <p>AKA, Bouncing or rendering your tracks.  Once you've named your tracks you are ready to export.</p>
            <ul>
                <li>Export your tracks dry, with no effects.  Generally, we want all the tracks exported without and send effects.  If you have a cool effect inserted in your track, you can send that, but also include a dry version and notate that in your filenames.  For example, if you want to keep a vocal that had a cool delay, you can send two files... LeadVox-Delay.wav and LeadVox-Dry.wav</li>
                <li>Make sure you select the entire length of your song when rendering, this will ensure that all files start at the beginning of the song and there won&#39;t be any syncronization issues.  If you don&#39;t know how to do this inside your DAW there is probably a youtube video that can you help or <a ng-href="#!/contact">Ask Us!</a></li>
                <li>Keep your sample rate and bit depth at the same setting that you recorded with</li>
                <li>Use the .wav file format, don&#39;t use any compressed formats (MP3).</li>
                
            </ul>
        </div>
    </div>
</section>