<div class = "navbar navbar-inverse navbar-fixed-bottom">
    <div class = "container">
        <p class = "navbar-text pull-left">&copy; 2018 Follow us on &nbsp;&nbsp;<a href="https://www.facebook.com/pages/SophiaHat-Studios/146490438748677" target="_blank" title="link to Facebook">&nbsp;Facebook&nbsp;</a><a href="https://twitter.com/sophiahatStudio" target="_blank" title="link to Twitter">&nbsp;Twitter</a></p>
        <a ng-href = "#/booking" title="link to Booking page" class = "navbar-btn btn-danger btn pull-right footer-nav">Book Now</a>
        <a ng-href="#/login" title="link to login page" class="navbar-btn btn btn-primary pull-right footer-nav">Log in</a>
    </div>
</div>