<section>
<div class = "row">
    <div id="maintext" class = "col-md-8 maintext">
        <header role="heading">
        <h1>Gear</h1>
        </header>
        <section>
            <h2>Overview</h2>
    <p>Although sometime overrated, the audio gear you use to capture your performance can make or break your recording.  It is important to maintain the highest quality in your signal chain; from the microphone, to cabling, to preamp, to converters, to outboard gear, to software plugin, and finally to speakers.  We are proud of our choice of gear and think you should be too.</p>
        </section>
        <div id="tabContainer">
<!--
            <div id="tabs">
                <ul class="nav nav-tabs">
                    <li role="presentation" id="DigitalRecordersTab"><a href="#RecordersPanel">Digital Recorders</a></li>
                    <li role="presentation" id="MicrophoneTab"><a href="#MicPanel">Microphones</a></li>
                    <li role="presentation" id="OutboardGearTab"><a href="#OutboardGearPanel">Outboard Gear</a></li>
                    <li role="presentation" id="PluginsTab"><a href="#PluginsPanel">Software Plugins</a></li>
                    <li role="presentation" id="InstrumentsTab"><a href="#InstrumentsPanel">Instruments</a></li>
                    <li role="presentation" id="MonitorTab"><a href="#MonitorPanel">Monitors</a></li>
                </ul>
            </div>
-->
            <div id="panels">
                <div class="tab-section">
                    <section>
                        <h3 id="RecordersPanel">Digital Recorders</h3>
                        <h4>Pro Tools</h4>
                        <p>We are a digital based multitrack studio and offer several recording mediums. Most of the work we do however is in ProTools. Currently we run Pro Tools 10.3.9 with a Black Lion modified 002 system. Although it is not a TDM system, we use the Complete Production Toolkit to unlock all of the features of the larger TDM systems. For the clients that means higher track counts, more editing features like Beat Detective across multiple tracks, multitrack Quickpunch, ultrasmooth pitch and time editing, etc,. Through session file import/export we can also accommodate projects in all formats including Logic, Cubase, Sonar, Acid, Live, GarageBand, Audition, Audacity, Sound Forge and Digital Performer. Projects can be delivered in these formats as well as all other standard mix formats. In addition to ProTools, We use Waveburner for CD mastering projects.</p>

                        <table class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>2-Track Recorders</th>
                                    <th>Control Surfaces</th>
                                </tr>
                                <tr>
                                    <td>Fostex CR300</td>
                                    <td>Euphonix MC Control</td>
                                </tr>
                                <tr>
                                    <td>Studer D780</td>
                                    <td>Neyrinck V&#45;Control Pro</td>
                                </tr>
                            </table>
                        </table>
                    </section>
                </div>
                <div class="tab-section">
                    <section>
                        <h3 id="MicPanel">Microphones</h3>
                        <table class="table table-bordered">
                            <tr>
                                <th>Manufacturer</th>
                                <th colspan="5">Quantity &amp; Model</th>
                            </tr>
                        </table>
                        <div class="scroll-box">
                            <table class="table table-bordered">
                            <tr>
                                <td>AKG</td>
                                <td>1 - 414</td>
                                <td>2 - C1000</td>
                                <td>2 - C3000</td>
                                <td>2 - C3000B</td>
                                <td>1 - D112</td>
                            </tr>
                            <tr>
                                <td>Audio Technica</td>
                                <td>1 - ATM25</td>
                                <td>1 - AT4033</td>
                            </tr>
                            <tr>
                                <td>Audix</td>
                                <td>1 - D5</td>
                            </tr>
                            <tr>
                                <td>Bruel &amp; Kjaer</td>
                                <td>2 - B&amp;K 4011</td>
                            </tr>
                            <tr>
                                <td>Beyer Dynamic</td>
                                <td>2 - M88 TG</td>
                                <td>1 - M160N(C)</td>
                            </tr>
                            <tr>
                                <td>Chameleon Labs</td>
                                <td>1 - TS-2</td>
                            </tr>
                            <tr>
                                <td>Earthworks</td>
                                <td>2 - TC40k</td>
                            </tr>
                            <tr>
                                <td>ElectroVoice</td>
                                <td>1 - EV ND 468</td>
                                <td>1 - EV ND 358</td>
                                <td>2 - EV RE20</td>
                            </tr>
                            <tr>
                                <td>Josephson</td>
                                <td>2 - C42</td>
                            </tr>
                            <tr>
                                <td>Neumann</td>
                                <td>1 - TLM 103</td>
                                <td>1 - SM69 FET</td>
                            </tr>
                            <tr>
                                <td>Pacific Pro Audio</td>
                                <td>1 - PPA R-2</td>
                            </tr>
                            <tr>
                                <td>Rode</td>
                                <td>1 - K-2</td>
                            </tr>
                            <tr>
                                <td>Royer</td>
                                <td>2 - R121</td>
                                <td>1 - SF12</td>
                            </tr>
                            <tr>
                                    <td>Sennheiser</td>
                                    <td>1 - 421</td>
                                    <td>3 - 604</td>
                            </tr>
                            <tr>
                                <td>Shiny Box Audio</td>
                                <td>1 - 46 MXL</td>
                            </tr>
                            <tr>
                                <td>Shure</td>
                                <td>2 - SM57</td>
                            </tr>
                            <tr>
                                <td>Sony</td>
                                <td>2 - C48</td>
                            </tr>
                        </table>
                        </div>
                    </section>
                </div>
                <div class="tab-section">
                    <section>
                        <h3 id="OutboardGearPanel">Outboard Gear</h3>
                        <p>Although we are mostly &ldquo;<i>in the box</i>&rdquo;, we do have the following available:</p>
                        <table class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Preamps</th>
                                    <th>Compressors</th>
                                    <th>Reverbs</th>
                                    <th>Sweeteners</th>
                                </tr>
                                <tr>
                                    <td>1 - UA 4-710</td>
                                    <td>7 - Focusrite RED 3</td>
                                    <td>2 - Lexicon PCM80</td>
                                    <td>1 - BBE Sonic Maximizer</td>
                                </tr>
                                <tr>
                                    <td>1 - UA LA-610</td>
                                    <td>1 - DBX 166 XLV</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>1 - Focusrite 428</td>
                                    <td>1 - DBX 266</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>4 - Focusrite RED 1</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </table>
                    </section>
                </div>
                <div class="tab-section">
                    <section>
                        <h3 id="PluginsPanel">Software Plugins</h3>
                        <p>In addition to the standard set of plug ins and virtual instruments included in Pro Tools and Logic 9, we also have these gems:</p>
                        <table class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Manufacturer</th>
                                    <th colspan="5">Quantity &amp; Model</th>
                                </tr>
                            </table>
                        </table>
                        <div class="scroll-box">
                            <table class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Antares</td>
                                    <td>AutoTune EVO</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td>Celomony</td>
                                    <td>Melodyne Editor</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">EastWest</td>
                                    <td>Symphonic Orchestra Platinum</td>
                                    <td>Symphonic Choirs Platinum</td>
                                    <td>Ra</td>
                                    <td>Goliath</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Voices of Passion</td>
                                    <td>Storm Drum</td>
                                    <td>Pianos Gold</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Eventide</td>
                                    <td>Ultrachannel</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">Ina-GRM</td>
                                    <td>GRM Bandpass</td>
                                    <td>GRM Comb Filter</td>
                                    <td>GRM Contrast</td>
                                    <td>GRM Delays</td>
                                    <td>GRM Doppler</td>
                                </tr>
                                <tr>
                                    <td>GRM Equalize</td>
                                    <td>GRM Evolution</td>
                                    <td>GRM Freeze</td>
                                    <td>GRM Fusion</td>
                                    <td>GRM Grinder</td>
                                </tr>
                                <tr>
                                    <td>GRM Pitch Accumulator</td>
                                    <td>GRM Reson</td>
                                    <td>GRM Shift</td>
                                    <td>GRM Shuffling</td>
                                    <td>GRM Warp</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Native Instruments</td>
                                    <td>Kontakt 4</td>
                                    <td>Reaktor 5</td>
                                    <td>Absynth 5</td>
                                    <td>Massive</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Traktor</td>
                                    <td>FM8</td>
                                    <td>Guitar Rig 3</td>
                                    <td>Battery 3</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>SoundToys</td>
                                    <td>Little Radiator</td>
                                    <td>Radiator</td>
                                    <td>Little Microshift</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Trillium Labs</td>
                                    <td>TL Space</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">Universal Audio</td>
                                    <td>CS-1</td>
                                    <td>EL7 Fatso</td>
                                    <td>EMT 140</td>
                                    <td>Fairchild</td>
                                    <td>Lexicon 224</td>
                                </tr>
                                <tr>
                                    <td>Neve 88RS</td>
                                    <td>Ocean Way Studios</td>
                                    <td>Pultec EQP-1A</td>
                                    <td>Pultec Pro</td>
                                    <td>RealVerb Pro</td>
                                </tr>
                                <tr>
                                    <td>Studer A800</td>
                                    <td>Teletronix LA-2A</td>
                                    <td>UA 1176 LN</td>
                                    <td>UA 1176 SE</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>WaveMachine Labs</td>
                                    <td>Drumagog 5</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Waves</td>
                                    <td>Aphex Aural Exciter</td>
                                    <td>API-550</td>
                                    <td>API-560</td>
                                    <td>API-2500</td>
                                    <td>AudioTrack</td>
                                </tr>
                                <tr>
                                    <td>Bass Rider</td>
                                    <td>C1</td>
                                    <td>C4</td>
                                    <td>C6</td>
                                    <td>C360</td>
                                </tr>
                                <tr>
                                    <td>Center</td>
                                    <td>CLA Bass</td>
                                    <td>CLA Drums</td>
                                    <td>CLA Effects</td>
                                    <td>CLA Guitars</td>
                                </tr>
                                <tr>
                                    <td>CLA Unplugged</td>
                                    <td>CLA Vocals</td>
                                    <td>CLA-2A</td>
                                    <td>CLA-3A</td>
                                    <td>CLA-76</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Waves</td>
                                    <td>DeBreath</td>
                                    <td>DeEsser</td>
                                    <td>DLA</td>
                                    <td>Doppler</td>
                                    <td>Durrough Surround</td>
                                </tr>
                                <tr>
                                    <td>Doubler</td>
                                    <td>EddieKramer Bass</td>
                                    <td>EddieKramer Drums</td>
                                    <td>EddieKramer Effects</td>
                                    <td>EddieKramer Guitar</td>
                                </tr>
                                <tr>
                                    <td>EddieKramer Vocals</td>
                                    <td>Enigma</td>
                                    <td>GTR Amp</td>
                                    <td>GTR Stomp</td>
                                    <td>GTR ToolRack</td>
                                </tr>
                                <tr>
                                    <td>GTR Tuner</td>
                                    <td>H-Comp</td>
                                    <td>H-Delay</td>
                                    <td>H-EQ</td>
                                    <td>IDR</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Waves</td>
                                    <td>InPhase</td>
                                    <td>IR-1</td>
                                    <td>IR-360</td>
                                    <td>IR-L</td>
                                    <td>JJP-Bass</td>
                                </tr>
                                <tr>
                                    <td>JJP-Cymb-Perc</td>
                                    <td>JJP-Drums</td>
                                    <td>JJP-Guitars</td>
                                    <td>JJP-Strings</td>
                                    <td>JJP-Vocals</td>
                                </tr>
                                <tr>
                                    <td>Kramer HLS</td>
                                    <td>Kramer PIE</td>
                                    <td>Kramer Tape</td>
                                    <td>L1</td>
                                    <td>L2</td>
                                </tr>
                                <tr>
                                    <td>L3Multi</td>
                                    <td>L3 Ultra</td>
                                    <td>L3-16 Filterbanks</td>
                                    <td>L3-16</td>
                                    <td>L3-LL Multi</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Waves</td>
                                    <td>L3-LL Ultra</td>
                                    <td>L360</td>
                                    <td>LFE 360</td>
                                    <td>LinEQ</td>
                                    <td>LinMB</td>
                                </tr>
                                <tr>
                                    <td>LoAir</td>
                                    <td>Maserati ACG</td>
                                    <td>Maserati B72</td>
                                    <td>Maserati DRM</td>
                                    <td>Maserati GRP</td>
                                </tr>
                                <tr>
                                    <td>Maserati GTi</td>
                                    <td>Maserati HMX</td>
                                    <td>Maserati VX1</td>
                                    <td>MaxxBass</td>
                                    <td>MaxxVolume</td>
                                </tr>
                                <tr>
                                    <td>MetaFlanger</td>
                                    <td>MondoMod</td>
                                    <td>Morphoder</td>
                                    <td>MV2</td>
                                    <td>MV360</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Waves</td>
                                    <td>One Knob Brighter</td>
                                    <td>One Knob Driver</td>
                                    <td>One Knob Filter</td>
                                    <td>One Knob Louder</td>
                                    <td>One Knob Phatter</td>
                                </tr>
                                <tr>
                                    <td>One Knob Pressure</td>
                                    <td>One Knob Wetter</td>
                                    <td>PAZ</td>
                                    <td>PS 22</td>
                                    <td>PuigChild</td>
                                </tr>
                                <tr>
                                    <td>PuigTec</td>
                                    <td>Q-Clone</td>
                                    <td>Q10</td>
                                    <td>R360</td>
                                    <td>RBass</td>
                                </tr>
                                <tr>
                                    <td>RChannel</td>
                                    <td>RComp</td>
                                    <td>RDeEsser</td>
                                    <td>RenAxx</td>
                                    <td>REQ</td>
                                </tr>
                                <tr>
                                    <td rowspan="4">Waves</td>
                                    <td>RVerb</td>
                                    <td>RVox</td>
                                    <td>S1</td>
                                    <td>S360</td>
                                    <td>SoundShifter</td>
                                </tr>
                                <tr>
                                    <td>SSL Channel</td>
                                    <td>SSL Comp</td>
                                    <td>SSL EQ</td>
                                    <td>SuperTap</td>
                                    <td>TransX</td>
                                </tr>
                                <tr>
                                    <td>TrueVerb</td>
                                    <td>UltraPitch</td>
                                    <td>UM</td>
                                    <td>VComp</td>
                                    <td>VEQ3</td>
                                </tr>
                                <tr>
                                    <td>VEQ4</td>
                                    <td>Vocal Rider</td>
                                    <td>W43</td>
                                    <td>Waves Tune</td>
                                    <td>WLM</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Waves</td>
                                    <td>WNS</td>
                                    <td>X-Click</td>
                                    <td>X-Crackle</td>
                                    <td>X-Hum</td>
                                    <td>X-Noise</td>
                                </tr>
                                <tr>
                                    <td>Z-Noise</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </table>
                        </div>
                    </section>
                </div>
                <div class="tab-section">
                    <section>
                        <h3 id="InstrumentsPanel">Instruments</h3>
                        <table class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Pianos</th>
                                    <th>Guitar Amps</th>
                                    <th>Guitar Effects</th>
                                    <th>Electronic Drums</th>
                                </tr>
                                <tr>
                                    <td>Fandrich 6'8</td>
                                    <td>Rivera R100</td>
                                    <td>Line 6 POD XT Live</td>
                                    <td>Yamaha Drums</td>
                                </tr>
                                <tr>
                                    <td>Yamaha Clavinova</td>
                                    <td>Mesa Boogie 5&#8209;25</td>
                                    <td>Boss Gt&#8209;6</td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>Henriksen Jazz Guitar Amp</td>
                                    <td>Roland GR&#8209;33</td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td>Polytone Mini&#8209;Brute</td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                            </table>
                        </table>
                    </section>
                </div>
                <div class="tab-section">
                    <section>
                        <h3 id="MonitorPanel">Monitors</h3>
                        <table class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Stereo</th>
                                    <th>5&#46;1 Surround</th>
                                    <th>Subwoofer</th>
                                    <th>Headphones</th>
                                    <th>Monitor Mixers</th>
                                </tr>
                                <tr>
                                    <td>Genelec 1031</td>
                                    <td>ADAM A3x</td>
                                    <td>ADAM Sub 12</td>
                                    <td>2 - Audio Technica ATH-D40fs</td>
                                    <td>Aviom A-16ii</td>
                                </tr>
                                <tr>
                                    <td>Genelec HT205</td>
                                    <td></td>
                                    <td></td>
                                    <td>2 - Audio Technica ATH-M40fs</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Event PS6</td>
                                    <td></td>
                                    <td></td>
                                    <td>2 - Sony MDR-7506</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td> </td>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </table>

                        <p>One trait that sets us apart from other small studios is our individual monitoring setup. Headphone mixers by Aviom and video camera/monitor stations for visual contact. The Avioms give every musician (up to five) 16 channels of audio for them to mix to their own taste. Most people find this quite liberating when tracking or doing overdubs. It also frees us up to work exclusively on the sound of the instruments rather than futz with everyone&#39;s headphone mix. On top of that it cuts back on setup time which makes everyone happy!</p>
                    </section>
                </div>
            </div>
        </div>

    </div>
    <div class = "col-md-4">
        <aside role="complementary">
            <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
        </aside>
    </div>
    </div>
</section>