<section>
    <div class = "row">
        <div class = "col-md-8 maintext" >
            <div class = "col-md-6">
                <header role="heading">
                <h1>Seattle's Recording Studio</h1>
                </header>
                <section>
                    <p>
                    <strong>SophiaHat Studio</strong> is a relaxed recording environment that delivers pro audio at an affordable price.  We provide a creative space and the tools for you to capture your sounds as you hear it. Located in the Green Lake/Phinney Ridge neighborhood in north Seattle, SophiaHat is convenient for most folks in town and surrounded by plenty of food and drink options to keep the creative spirit alive.
                 </p>
                </section>
            </div>
            <div class = "col-md-6">
                <section>
                    <h2>Our Schtick</h2>
                    <p>Our services include multitrack recording, mixing and mastering for all forms of audio. We work with bands, singer/songwriters, voice over artists, TV &amp; film producers, game &amp; web developers, and practically anyone who needs music and/or sound design.  <a ng-href="#!/services" title="link to Service offerings"><em> more...</em></a></p>
                    <p>The  studio layout consists of three rooms as well as an isolation booth, over 600 square feet of recording space! <a ng-href="#!/layout" title="link to studio layout"><em> more...</em></a></p>
                    <p>In addition to having a fine selection of recording gear,  we use individual headphone monitor mixers and video cameras/monitors so you can see and hear exactly what you need. <a ng-href="#!/gear" title="link to SophiaHat Gear listings"><em> more...</em></a></p>
                    <p>And of course one of the most important qualities of any recording studio &#45; the staff is courteous and efficient.</p>
                </section>
            </div>
        </div>
        <div class = "col-md-4">
            <aside role="complementary">
                <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
        <div class="reviews">
                    <!-- Elfsight Google Reviews | SophiaHat Studio Google Reviews -->
            <div class="elfsight-app-c399cdc1-71fc-449f-b561-8a453a2b4745" data-elfsight-app-lazy></div>
        </div>
    </div>
    
<!--
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'G-PPSLQ4H1YW', {
            'page_title' : 'Home',
            'page_location' : url,
            'page_path' : '/#!/home'
      });
    </script>
-->

</section>