<section>
    <div class = "row">
        <div id="maintext" class = "col-md-8 maintext">
            <header role="heading">
            <h1>Studio Layout</h1>
            </header>
            <section>
                <p>Our cozy space includes three rooms and one isolation booth, totaling over 600 square feet of space, wired for sound. One of our rooms boasts an 11 foot ceiling and sounds great for drums.  We have oak floors and just enough wall treatments to keep the rooms sounding live and yet focused.  Line of sight is possible in many of the setup scenarios and  we use video cameras and portable video monitors to fill in the gaps.</p>
                <figure id="layout">
                    <img class="img-thumbnail img-responsive" title="Studio Layout Diagram" src="images/layoutSophiahatStudio2_2.jpg">
                    <figcaption>Tracking 1 is 12&#8217;x16&#8217;, Tracking 2 is 11&#8217;x20&#8217;, and Tracking 3 is 10&#8217;x19&#8217;</figcaption>
                </figure>
            </section>
        </div>
        <div class = "col-md-4">
            <aside role="complementary">
                <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
    </div>
     
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'UA-20609405-1', {
            'page_title' : 'Layout',
            'page_location' : url,
            'page_path' : '/#!/layout'
      });
    </script>
</section>