<section>
    <div class="row">
        <div class="maintext">
            <h1>Online Mixing and Mastering</h1>
            <p>
                We&#39;ve been collaborating online with folks for years... and now we have to decided to formalize the process to make it easier for those who can&#39;t visit us in person.  
            </p>
            <h2>Get Your Music Mixed by People Who Actually Care About Your Sound</h2>
            <p>You put your heart into the song — we’ll make sure it <i>sounds</i> like it.</p>
            <p>We&#39;re SophiaHat Studio, a cozy spot in Edmonds, WA that’s been mixing music for 25+ years. Whether you&#39;re an indie artist finishing your first EP or a filmmaker needing stems that translate to screen, we&#39;ve got you.
            </p>

            <p>Now we&#39;re offering our mixing services online — same ears, same vibe, just a little more accessible.</p>
            <h2>Here&#39;s what you get with our Online Mixing and Mastering service</h2>
            <ul>
                <li><i class="fa-solid fa-headphones-simple fa-beat-fade"></i> Professional mix by a seasoned engineer (not an algorithm)</li>
                <li><i class="fa-solid fa-file-arrow-up"></i>  Easy file uploads & fast turnaround</li>
                <li><i class="fa-solid fa-repeat"></i> Includes one round of revisions</li>
                <li><i class="fa-solid fa-envelope"></i> Optional free mix critique before you commit</li>
                <li><i class="fa-solid fa-file-audio"></i> Mixing in Pro Tools, Logic, Ableton — whatever you’re working with</li>
                <li><i class="fa-solid fa-message"></i> Friendly communication throughout — no radio silence</li>
            </ul>
                











            
        </div>
    </div>
</section>