<section class="card news">
    <div class="row">
        <div class="col-md-9">
            <h1>News</h1>
            <div class="news-item">
                <h3>Asteroids Revisited</h3>
                <img src="images/RiceRocksGame.jpg" alt="Python Game course image">
                <p>Back in the spring of 2015, I completed the second part of Coursera online course entitled <a href="https://www.coursera.org/course/interactivepython2">'An Introduction to Interactive Programming in Python'</a>.  It was the second course that I've taken in Python and my first attempt at building a game.</p> 

            <p>As I came to the close the end of the course I actually did a little sound design and soundtrack work, although quick and dirty.  It was a lot of fun to actually code the audio and play around with the playback parameters. Please give the game  <a href="http://www.codeskulptor.org/#user40_hHd6qxztgP_60.py" target="_blank">Rice Rocks</a> a go, and feel free to tweak the parameters if you would like.  The comments in the top of the file will give you basic instructions for running the program within CodeSkulptor,  a python shell built to work in a web browser,  along with the ship controls.</p>  

            <p>Although I've done some simple programming projects in the past, this was certainly the most challenging for me.  I learned a great deal about the logic of game physics, and hope to find more time to learn more in the near future.  </p>
            </div>
            <div class="news-item">
                <h3>Orchestration Course</h3>
                <img src="images/lairOfGalendron.jpg" alt="Orchestration Course Image">
                <p>Over the summer of 2015, I took an online course in orchestration offered by <a href="https://online.berklee.edu/" target="_blank">Berkee Online</a> and taught by <a href="http://bennewhousemusic.com/" target="_blank">Ben Newhouse</a>.  The course was an introduction to the topic, illustrating basic concepts of orchestrating for large ensemble.</p>
                <p>As we worked through the material, we explored each section of the orchestra, learned about instrument ranges, transposition, articulations and special considerations for every member of each section.  Beyond the standard notation for each instrument we worked with samples and learned the ins and outs for manipulating and optimizing for maximum credibility.  As a final project, we composed a genre piece and created an orchestral score as well as an audio mix with sampled orchestra. I chose to make an action trailer type piece. </p>
            </div>
            <div class="news-item">
                <h3>Unity Audio Course</h3>
                <img src="images/unityCourseAngryBots.jpg" alt="Unity Course Image">
                <p>In the Winter of 2014 I took an online course on game audio implementation in Unity through the <a href="http://school.videogameaudio.com/" target="_blank">School of Video Game Audio</a>.  The course explored basic audio scripting using javascript along with sound design concepts for classic shooter type game.</p>
                <p>During the course we stripped all of the audio out of the unity demo "Angry Bots" and created all new audio assets. We also created scripts for repetitive tasks like footsteps and weapons fire.</p>
            </div>
        </div>
         <div class="col-md-3 text-center">
                <aside role="complementary">
                    <div ng-include="'views/aside.html'"></div>
                </aside>
        </div>
    </div>
</section>