
   <section class="portfolio">
    
    <div class="row">
        <div class="col-md-8 maintext">
            <header>
                <div class="panel-header">
                    <h1>Portfolio</h1>
                </div>
            </header>
               <ul class="nav nav-pills portfolio-tabs" id="data-categories">
                   <li ng-class="{active: isSet(2)}" ><a href ng-click="setTab(2)">Tracks</a></li>
<!--                   <li ng-class="{active: isSet(5)}"><a href ng-click="setTab(5)">Albums</a></li>-->
                   <li ng-class="{active: isSet(1)}"><a href ng-click="setTab(1)">Video</a></li>
                   
               </ul>
               <div ng-show="isSet(2)||isSet(5)" class="panel panel-default display-audio">
                   <div class="image-container"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/cd_images/{{displayAudio.img}}" alt=""></div>
                   <div class="audioTitle"><span>{{displayAudio.title}}</span></div>

<!--
                   <div class="audiodescription">
                       
                       <span> From the Album: {{displayAudio.albumTitle}}</span>
                   
                   </div>
-->

                   <audio  id="audio-player" src="" controls></audio> 
               </div>
            
               <div ng-show="isSet(1)" class="videoWrapper embed-responsive-4by3">
                    <iframe class="embed-responsive-item" id="portfolio-video-player" src="https://www.youtube.com/embed/J_WQmwYVyIw?showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
               <div ng-show="isSet(1)" id="video" class="portfolio-scrolling-list" ng-model="videos">
                       <div class="panel-body">
                          <div class="row">
                              <div class="videos">
                                  <div class="video" ng-repeat="video in videos | orderBy: '-rating'" ng-show="video.active">
                                      <a href="" ng-click="getIframeSource(video)">
                                         <span class="image-container float-left">
                                              <img src="http://img.youtube.com/vi/{{video.videoId}}/0.jpg"  alt="videoID:{{video.$id}}">
                                         </span>
                                          <h5 class="float-left">{{video.title}}</h5>
                                      </a>
                                  </div>
                              </div>
                          </div>
                       </div>
                   </div>
               <div ng-show="isSet(2)" id="audio" class="panel panel-default">
                   <ul class="nav nav-pills portfolio-tabs" id="data-categories">
                       <li ng-class="{active: subIsSet(3)}"><a href ng-click="setSubTab(3)">Music</a></li>
                       <li ng-class="{active: subIsSet(4)}" ><a href ng-click="setSubTab(4)">Voice-Over (VO)</a></li>
                       <li id="albumfilterclear"><a href ng-click="audioSearchKeyword = ''" class="clear">Clear Album Filter</a></li>
                   </ul>
                    <div class="" id="audio-panel">
                       <div class="track-search">
                           <input class="form-control" type="search" placeholder="Track Search" ng-model="audioSearchKeyword">
                           <a href="" ng-click="audioSearchKeyword = ''" class="clear"><span class="glyphicon glyphicon-remove"></span></a>
                       </div>
                        <div class="">
                           <div ng-show="subIsSet(3)" id="client-tracks" class="portfolio-scrolling-list">
                               <div class="panel-body" ng-model="audio">                   
                                   <div class="audioplayer">
                                       <div class="audio-list">
                                            <div class="audio" ng-repeat="track in audio | filter: {showSophiahat:true, type:'client track'} | filter: audioSearchKeyword" ng-show="track.active">
                                               <a ng-click="getAudioSource(track)" href="">
                                                 <div class="audio-item">
                                                     <div class="audioImg image-container"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/cd_images/{{track.img}}" alt="{{track.title}} album image"></div>
                                                    <div class="audio-text">
                                                        <div class="audioTitle">
                                                            <span>{{track.title}}</span></div> 
                                                        <div class="audiodescription">
                                                            <span>Album Title: {{track.albumTitle}}</span>  
                                                        </div>
                                                    </div>
                                                 </div>                                        
                                               </a>
                                           </div>   
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                        <div class="">
                           <div ng-show="subIsSet(4)" id="voiceover" class="portfolio-scrolling-list">
                               <div class="panel-body" ng-model="audio">
                                   <div class="audioplayer">
                                       <div class="audio-list">
                                            <div class="audio" ng-repeat="track in audio | filter: track.type='voiceover'" ng-show="track.active&&track.showCSCreative">
                                               <a ng-click="getAudioSource(track)" href="">
                                                 <div class="audio-item">
                                                     <div class="audioImg image-container"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/cd_images/{{track.img}}" alt=""></div>
                                                    <div class="audioTitle"><span>{{track.title}}</span></div> 
                                                 </div>                                        
                                               </a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       
                    </div>   
                 </div>
               
               
        </div>
         <div class="col-md-4 text-center">
            <aside role="complementary">
                <div ng-show="isSet(2)" ng-hide="subIsSet(4)" ng-include="'views/albums.html'"></div>
                <div ng-show="isSet(1)||subIsSet(4)" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
    </div>
    
</section>


                
