
   <section class="card portfolio">
    
    <div class="row">
        <div class="col-md-9">
            <header>
                <div class="panel-header">
                    <h1>Portfolio</h1>
                </div>
            </header>
           <div class="panel-group accordion" id="accordion">
             <div class="panel panel-default">
                 <div class="panel-heading">
                     <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#audio">Audio</h4>
                 </div>
                 <div id="audio" class="panel-collapse  collapse">
                   <div class="displayAudio">
                                   <div class="audioImg"><img ng-src="/images/thumbs/{{displayAudio.img}}" alt=""></div>
                                   <div class="audioTitle"><span>{{displayAudio.title}}</span></div>
                                   
                                   <div class="audiodescription">{{displayAudio.description}}</div>
                                   
                                   <audio id="audio-player" controls>
                                   
                                   <source src="" type="audio/mp3">
                               </audio>
                               </div>
                    <div class="accordion" id="audio-accordion">
    <div class="panel panel-default">
                  
                   <div class="panel-heading">
                       <h4 class="panel-title" data-toggle="collapse" data-parent="#audio-accordion" data-target="#composition"  >Music Composition</h4>
                   </div>
                   <div id="composition" class="panel-collapse  collapse">
                       <div class="panel-body" ng-model="audio">                      
                           <div class="audioplayer">
                             
                               
                               
                               <div class="audio-list">
                                    <div class="audio" ng-repeat="track in audio | filter: track.type='composition'">
                                  
                                  
                                       <a ng-click="getAudioSource(track)" href="">
                                         <div class="audio-item">
                                             <div class="audioImg"><img ng-src="/images/thumbs/{{track.img}}" alt=""></div>
                                            <div class="audioTitle"><span>{{track.title}}</span></div> 
                                         </div>                                        
                                       </a>
                               </div>   
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
                <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4 class="panel-title" data-toggle="collapse" data-parent="#audio-accordion" data-target="#voiceover"  >Voice Over</h4>
                   </div>
                   <div id="voiceover" class="panel-collapse  collapse">
                       <div class="panel-body" ng-model="audio">
                     
                           <div class="audioplayer">
                             

                               
                               <div class="audio-list">
                                    <div class="audio" ng-repeat="track in audio | filter: track.type='voiceover'">
                                  
                                  
                                       <a ng-click="getAudioSource(track)" href="">
                                         <div class="audio-item">
                                             <div class="audioImg"><img ng-src="/images/thumbs/{{track.img}}" alt=""></div>
                                            <div class="audioTitle"><span>{{track.title}}</span></div> 
                                         </div>                                        
                                       </a>
                                   
                                
                               </div>
                                   
                               </div>

                               
                               
                           </div>
                       </div>
                   </div>
               </div>
</div>
                     
                 </div>
             </div>
              
               
               <div class="panel panel-default">
                   <div class="panel-heading">
                       <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#video">Video</h4>
                   </div>
                   <div id="video" class="panel-collapse  collapse in" ng-model="videos">
                       <div class="panel-body">
<div class="videoWrapper">
    <iframe id="portfolio-video-player" src="https://www.youtube.com/embed/J_WQmwYVyIw?showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
                          <div class="row">
                              <div class="videos">
                                  <div class="video" ng-repeat="video in videos | orderBy: '-rating'" ng-show="video.active">
                                      <a href="" ng-click="getIframeSource(video)">
                                          <h5>{{video.title}}</h5>
                                          <img src="http://img.youtube.com/vi/{{video.videoId}}/0.jpg"  alt="videoID:{{video.$id}}">
                                      </a>
                                  </div>
                              </div>
                          </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
         <div class="col-md-3 text-center">
            <aside role="complementary">
                <div ng-include="'views/aside.html'"></div>
            </aside>
        </div>
    </div>
    
</section>


                
