<section class="card rates">
    <div class = "row">
        <div class = "col-md-8 mainText">
            <header role="heading">
            <h1>Rates</h1>
            </header>
            <section>
                <p>Most of our services are billed at a flat rate of $45/hour.</p> 
<h4>However,</h4>
<ul>
<li>Ten hour days can be reserved for $400</li>
<li>Music Production and Music Copy services which are billed by the scope of the job <i><a href="contact.html">(Please inquire)</a></i>.</li>
</ul>
<p>Our piano is tuned on 6 week intervals, if you would like to have it touched up for your session, there is a $75 charge. </p>
<p>Before booking we recommend that you read our <a href="studiopolicy.html">Studio Policies</a> so that you are in the know.</p>
            </section>
        </div>
        <div class = "col-md-4">
            <aside role="complementary">
                <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
    </div>
</section>