<section class="card resources">
    <div class = "row">
        <div id="maintext" class = "col-md-8 maintext">
            <header role="heading">
            <h1>Resources</h1>
            <h2>Preparation Tips</h2>
            </header>
            <section>
                <div id="tabContainer">
                    <div id="tabs">
                        <ul class="nav nav-tabs">
                            <li role="presentation" id="TrackingBandsTab"><a href="#TrackingBandsPanel">Tracking Bands</a></li>
                            <li role="presentation" id="OverdubsTab"><a href="#OverdubsPanel">Overdubs</a></li>
                            <li role="presentation" id="MixingTab"><a href="#MixingPanel">Mixing</a></li>
                            <li role="presentation" id="RecordingVoiceOverTab"><a href="#RecordingVoiceOverPanel">Recording Voiceover</a></li>
                            <li role="presentation" id="HelpfulLinksTab"><a href="#HelpfulLinksPanel">Other Helpful Links</a></li>
                        </ul>
                    </div>
                    <div id="panels">
                            <div class="tab-section">
                                <section>
                                    <h3 id="TrackingBandsPanel">Tracking Bands</h3>
                                    <div class="scroll-box">
                                        <h4>Rehearse&#33;</h4>
                                        <p>The single most important thing to remember before booking studio time is to <strong>be prepared</strong>. Although this may sound clich&eacute;, it is the most likely element that can keep your session from being a success.</p>
                                        <h4>Tune your Axes&#33;</h4>
                                        <p>This not only means being ready to perform your pieces to the best of your ability, but also to have your equipment in a good &quot;recordable&quot; state.  That is to say, you must be conscious of the sound of your instrument and ensure that you have it tweaked to your liking as much as possible.  It's so much easier to put together a project when your instrument sounds as close as possible to the way you want your finished product to sound.</p>
                                        <h4>Get you&#39;re band used to working with headphones&#33;</h4>
                                        <p>Just about all of the phases of recording will involve using headphones to monitor, rather than being in the same room.  Recording with headphones is quite a bit different than playing in a live space together&#44; so if you can make yourself and your band comfortable ahead of time&#44; it will take less time to get acclimated.  And the key to great takes is being <strong>relaxed</strong>.</p>
                                    </div>
                                </section>
                            </div>
                        <div class="tab-section">
                            <section>
                                <h3 id="OverdubsPanel">Overdubs</h3>
                                <div class="scroll-box">
                                    <h4>Ensure compatibility</h4>
                                    <p>That is to say, make sure the files that you bring to us will work with our software.  You can find out our current version of Pro tools software <a href="gear.html#RecordersPanel">here</a>.  If you want to bring files over from a different type of DAW, <a href="contact.html">contact us</a> to find the quickest solution</p>
                                    <h4>If you&#39;re hiring a session musician&#44; make sure they&#39;re prepared</h4>
                                    <p>It&#39;s great to bring in a soloist or an additional instrument to fatten up your track, but it&#39;s important to make them as comfortable as possible.  That means make sure they have an accurate chart and preferably a recording to work with ahead of time, so they can do their homework.</p>

                                </div>
                            </section>
                        </div>
                        <div class="tab-section">
                            <section>
                                <h3 id="MixingPanel">Mixing</h3>
                                <div class="scroll-box">
                                    <h4>Find your sound</h4>
                                    <p>It&#39;s certainly okay if you&#39;re not quite sure what that sound is yet, but if you can do some homework ahead of time, you will spend less time experimenting or relying on others to find it for you in the studio.  A great way to do this is to listen to recordings with a focus on the production; the sounds of the instruments rather than the music itself.  Make a small list of songs with production aspects that admire.   It&#39;s a great thing to bring along to a session whether you&#39;re in the tracking or mixing stages.</p>
                                </div>
                            </section>
                        </div>
                        <div class="tab-section">
                            <section>
                                <h3 id="RecordingVoiceOverPanel">Recording Voiceover</h3>
                                <div class="scroll-box">
                                    <h4>Find the tone of your script</h4>
                                    <p>Probably the biggest challenge of capturing the right take is getting the right tone for the part. This will give the proper meaning and context to script. Often times the script writer or producer will have the most input in setting the tone.  If they cannot be present in person or remotely for the session, it is important to have this discussion with them before the session to save time. </p>

                                </div>
                            </section>
                        </div>
                        <div class="tab-section">
                            <section>
                                <h3 id="HelpfulLinksPanel">Other Helpful Links</h3>
                                <div class="scroll-box">
                                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td width="300px"><a href="http://www.taxi.com/about.html" target="_blank">
                                <img width=150 height=60 border=0 align="left" src="http://www.taxi.com/graphics/Ctaxi156.gif"></a>
                                </td>
                            <td><p>TAXI&rsquo;s Music Biz FAQs contain 
                        <a href="http://www.taxi.com/about.html" target="_blank">songwriting tips</a> music-business information, and articles on Film & TV Music placement.</p>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="http://www.ontoplist.com/" target="_blank" title="Online Marketing"><img src="http://www.ontoplist.com/images/ontoplist3.jpg?id=4d827e9c2c43f" alt="Online Marketing" border="0" /></a>
                            </td>
                            <td>
                                <p>Add blog to our <a href="http://www.ontoplist.com/blog-directory/" target="_blank" title="blog directory">blog directory</a>.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="http://www.thumbtack.com/wa/seattle/recording-studio/audio-services" target="_blank"><img src="images/thumbtackLogo.png"</a>

                            </td>
                            <td>
                                <p><a href="http://www.thumbtack.com/wa/seattle/recording-studio/audio-services" target="_blank">Thumbtack.com</a> - local service finder</p>

                            </td>
                        </tr>
                    </tbody>		
                </table>	
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class = "col-md-4">
            <aside role="complementary">
                <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
    </div>
</section>