        <section>
            <div class="row">
                <div class="col-md-12 maintext">
                        <header>
                            <h1 class="text-center">Reviews and Recommendations</h1>
                        </header>
                        <div class="reviews clear">
                           <h3 class="text-center">Reviews</h3>
                            <!-- Elfsight Google Reviews | SophiaHat Studio Google Reviews -->
                    <div class="elfsight-app-c399cdc1-71fc-449f-b561-8a453a2b4745" data-elfsight-app-lazy></div>
                    <div class="col-center"  id="alignable">
                       <h3 class="text-center">Recommendations</h3>
                       <div class="" id="accordion-alignable">
                           <div class="">
                               <div class="">
                                   <h4 class=" text-center">
                                       Recommendations from Alignable.com
                                   </h4>
                               </div>
                           </div>
                           <div id="alignable-recommendations" class="">
                               <div class="grid">
                                   <div class="grid-item"><img src="../images/alignable/24.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/23.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/22.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/21.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/20.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/19.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/18.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/17.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/16.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/15.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/14.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/13.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/12.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/11.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/10.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/9.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/8.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/7.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/6.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/5.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/4.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/3.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/2.png" alt="recomendation-image"></div>
                                   <div class="grid-item"><img src="../images/alignable/1.png" alt="recomendation-image"></div>



                               </div>
                           </div>
                       </div>

                    </div>
                </div>
                    
                </div>
            </div>
        </section>
        