<h3>Links</h3>
<ul>
    <li><a ng-href="#/top-ten-reasons" title="Link to 10 reasons to choose SophiaHat">Top 10 Reasons to Choose Sophiahat</a></li>
    <li><a ng-href="#/booking" title="Link to SophiaHat Booking Request">Booking Request</a></li>
    <li><a href="http://www.chrisspencercreative.com" target="_blank" title="Link to Chris Spencer Creative - Music Composition & Sound Design">ChrisSpencerCreative</a><br><i>&#40;Music Composition &amp; Sound Design Portfolio&#41;</i></li>
    <li><a href="http://www.chrisspencermusic.com" target="_blank" title="Link to Chris Spencer Music - Musician">ChrisSpencerMusic</a><br><i>&#40;Musician Portfolio&#41;</i></li>

</ul>
<div class="sidebar-image embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bxATEPXDcxw?rel=0&modestbranding=1&fs=0&loop=1&controls=0&autoplay=1&autohide=1&playlist=bxATEPXDcxw"></iframe>

</div>