<section class="card services">
    <div class = "row">
        <div id="maintext" class = "col-md-8 maintext">
            <header role="heading">
            <h1>Services</h1>
            </header>
            <section>
                <h2>Overview</h2>
<p>At Sophiahat, we are involved in just about all aspects of audio production for new media. We record bands, develop singer/songwriter projects, produce audio books, create music for film, the web and TV/Radio, score and create effects for video games, and just about anything else you can imagine involving the production of sound. If you have a project that doesn’t fall into any of the categories below, don’t write us off. Instead, shoot us an email and let us convince you that we are a great fit for your needs.</p>
            </section>

            <div class="panel-group accordion" id="accordion">    
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#music-service"  >Music</h4>
                       </div>
                       <div id="music-service" class="panel-collapse collapse">
                           <div class="panel-body">
                                
                                <dl>
                                    <dt>Tracking</dt>
                                    <dd>Isolated mulltitrack recording and live to multitrack is our specialty. Check out our <a href="layout.html" title="link to Studio Layout">recording space</a>.</dd>
                                    <dt>Editing</dt> 
                                    <dd>Chris, a certified <a href="http://www.avid.com/US/support/training/find-professional" title="link to Pro Tools certified operators">Pro Tools Operator</a> can get your project polished to your liking quickly. </dd>
                                    <dt>Mixing</dt>
                                    <dd>We accept projects in Pro Tools and Logic, and can transfer work from other platforms as well.</dd>
                                    <dt>Mastering</dt>
                                    <dd>Although we are not a mastering facility, we do perform similar services for those on a limited budget.</dd> 
                                    <dt>Music Production</dt>
                                    <dd>In the role of producer, we are focused and capable of providing the right blend of enthusiasm, constructive criticism and encouragement to coax the very best performance, arrangement and mix out or your project. Special rates apply, please inquire.</dd>
                                    <dt>Music Arranging and Preparation</dt>
                                    <dd>Chris' experience as a staff arranger in the Air Force band makes him well versed in music notation software. He can crank out charts for your musicians in short order and at a reasonable rate.</dd>
                                    <dt>Session Musicians</dt>
                                    <dd>We have access to a large pool of very talented local musicians.</dd>
                                </dl>
                           </div>
                       </div>
                   </div> 
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title " data-toggle="collapse" data-target="#video-post" data-parent="#accordion" >Video Post</h4>
                       </div>
                       <div id="video-post" class="panel-collapse collapse">
                           <div class="panel-body">
                                <dl>
                                    <dt>Production Dialogue Editing</dt>
                                    <dd>We can polish your production sound, work with sync issues, assess the overall quality, and make the transition to ADR painless.</dd>
                                    <dt>ADR</dt>
                                    <dd>If your production needs it, we can capture new dialogue and ensure perfect synchronization with the screen. </dd>
                                    <dt>Sound Effects</dt>
                                    <dd>Our foley production coupled with our large library of effects allows us to deliver unique sounds that add the perfect accent to your story line. </dd>
                                    <dt>Music Composition</dt>
                                    <dd>Orchestral and mixed element score along with authentic source music.</dd>
                                </dl>    
                           </div>
                       </div>
                   </div>              
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title " data-toggle="collapse" data-target="#game-audio" data-parent="#accordion" >Game Audio</h4>
                       </div>
                       <div id="game-audio" class="panel-collapse collapse">
                           <div class="panel-body">
                                <p>With our experience in FMOD, Wwise, and Unreal Editor we can deliver all the audio for your game title. We can also work with your developers during implementation to ensure audio quality in the final product. </p>
                                <dl>
                                    <dt>Dialogue</dt>
                                    <dd>Working with your vocal talent or ours, we can give you clear and effective dialogue that sets your project apart from the rest.</dd> 
                                    <dt>Sound Design</dt>
                                    <dd>We do Foley and custom effects and have an extensive effects library. 
                                    <dt>Music Composition</dt>
                                    <dd>We can provide that epic score for your title.</dd>
                                </dl>
                           </div>
                       </div>
                   </div>
                    <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title " data-toggle="collapse" data-target="#new-media" data-parent="#accordion" >New Media</h4>
                       </div>
                       <div id="new-media" class="panel-collapse collapse">
                           <div class="panel-body">
                                <dl>
                                    <dt>On Hold Messaging</dt>
                                    <dd>We can deliver time sensitive messages for your customers. Take advantage of this extremely effective marketing tool by sending your latest offerings directly to your clients.</dd> 
                                    <dt>Website Audio</dt>
                                    <dd>We will help you design custom effects, ambience, soundtrack, and dialogue that makes your website more effective. Audio can reinforce, accent and focus your visitors on your message and enhance their overall experience. </dd>
                                    <dt>Sonic Branding</dt>
                                    <dd>Acoustic Branding, Audio Branding, Audio Logo, Sonic Mnemonics, etc. - Regardless of what you call it, Sonic Branding is an effective tool for product and corporate name recognition. Let us help you develop your Sonic Calling Card...</dd>
                                    <dt>Audio Books</dt>
                                    <dd>Record and edit dialogue, add music and effects, mix and master your audio book project with us.</dd>
                                </dl>
                           </div>
                       </div>
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title " data-toggle="collapse" data-target="#radio-tv" data-parent="#accordion" >Radio&#47;TV</h4>
                       </div>
                       <div id="radio-tv" class="panel-collapse collapse">
                           <div class="panel-body">
                                <dl>
                                    <dt>Radio Spots</dt>
                                    <dd>No matter what sort of tone your after, whether it&#39;s shock and awe, rolling on the floor, or reaching for the kleenex, we can deliver the right sounds, dialogue and music to get your point across. </dd>
                                    <dt>TV Spots</dt>
                                    <dd>Music, ambience, dialogue and effects for your TV ad; broadcast ready.</dd>
                                    <dt>Station ID</dt>
                                    <dd>Unique sonic signatures delivered in a timely fashion.</dd>
                                    <dt>Radio Drama</dt>
                                    <dd>Full production of all audio components in the radio show format; live actor recording, editing, overdubs, efx, and music.</dd>
                                </dl>
                           </div>
                       </div>
                   </div>
               </div>

        </div>

        <div class = "col-md-4">
            <aside role="complementary">
                <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
    </div>
     
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'UA-20609405-1', {
            'page_title' : 'Services',
            'page_location' : url,
            'page_path' : '/#!/services'
      });
    </script>
</section>