<section class="card services">
    <div class = "row">
        <div id="maintext" class = "col-md-8 maintext">
            <header role="heading">
                <h1>Services</h1>
            </header>
            <section>
                <h2>Make your project sound larger than life...</h2>
                <p>Whether it is salvaging poor audio or just putting on the finishing touches, we can get your audio sounding great, fast. The right tools and expertise will optimize your project&#39;s audio quality and give it that professional sheen everyone expects.</p>
                <p>At Sophiahat, we are involved in just about all aspects of audio production for new media. We record bands, develop singer/songwriter projects, produce audio books, create music for film, the web and TV/Radio, score and create effects for video games, and just about anything else you can imagine involving the production of sound. If you have a project that doesn&#39;t fall into any of the categories below, don&#39;t write us off. Instead, shoot us an email and let us convince you that we are a great fit for your needs.</p>
            </section>

            <div class="panel-group accordion" id="accordion">    
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#music-service"  >Music</h4>
                    </div>
                    <div id="music-service" class="panel-collapse collapse touch-scroll">
                        <div class="panel-body">
                            <dl>
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <img class="" src="/images/alberto-bigoni-AAnoZVR6vm8-unsplash_thumb.jpeg" alt="tracking-service-image" class="media-object">
                                            <figcaption><a href="https://unsplash.com/photos/AAnoZVR6vm8">Photo</a> by <a href="https://unsplash.com/@albertobigoni?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alberto Bigoni</a> on <a href="https://unsplash.com/s/photos/band-recording-studio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></figcaption>
                                        </figure>

                                    </div>
                                    <div class="media-body">
                                        <dt class="media-heading">Tracking</dt>
                                        <dd>Isolated mulltitrack recording and live to multitrack is our specialty. Check out our <a href="layout.html" title="link to Studio Layout">recording space</a>.</dd>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <img class="" src="/images/waveform.jpeg" alt="editing-service-image">
                                            <figcaption></figcaption>
                                        </figure>

                                    </div>
                                    <div class="media-body">
                                        <dt class="media-heading">Audio Editing</dt>
                                        <dd>Chris, a certified <a href="http://www.avid.com/US/support/training/find-professional" title="link to Pro Tools certified operators">Pro Tools Operator</a> can get your project polished to your liking quickly.</dd>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <img src="/images/alexey-ruban-73o_FzZ5x-w-unsplash_thumb.jpeg" alt="mixing-service-image">
                                            <figcaption><a href="https://images.unsplash.com/photo-1466428996289-fb355538da1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80">Photo</a> by <a href="https://unsplash.com/@intelligenciya?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexey Ruban</a> on <a href="https://unsplash.com/s/photos/mixing-board?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></figcaption>
                                        </figure>
                                    </div>
                                    <div class="media-body">
                                        <dt class="media-heading">Mixing</dt>
                                        <dd>We accept projects in Pro Tools and Logic, and can transfer work from other platforms as well.</dd>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left"><figure>
                                        <img src="/images/peter-palmer-OQlPahHa7Bc-unsplash_thumb.jpeg" alt="mastering-service-image">
                                        <figcaption><a href="https://unsplash.com/photos/OQlPahHa7Bc">Photo</a> by <a href="https://unsplash.com/@peterpalmer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Peter Palmer</a> on <a href="https://unsplash.com/s/photos/mastering--compressor?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </figcaption>
                                        </figure></div>
                                    <div class="media-body">
                                        <dt class="media-heading">Mastering</dt>
                                        <dd>Although we are not a mastering facility, we do perform similar services for those on a limited budget.</dd>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left"><figure>
                                        <img src="/images/mariah-solomon-5RiM4nlTsI0-unsplash_thumb.jpeg" alt="music-production-service-image">
                                        <figcaption>
                                            <a href="https://unsplash.com/photos/5RiM4nlTsI0">Photo</a> by <a href="https://unsplash.com/@heymemento?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mariah Solomon</a> on <a href="https://unsplash.com/s/photos/music-production?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

                                        </figcaption>
                                        </figure></div>
                                    <div class="media-body">
                                        <dt class="media-heading">Music Production</dt>
                                        <dd>In the role of producer, we are focused and capable of providing the right blend of enthusiasm, constructive criticism and encouragement to coax the very best performance, arrangement and mix out or your project. Special rates apply, please inquire.</dd>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left">
                                        <figure>
                                            <img src="/images/stefany-andrade-GbSCAAsU2Fo-unsplash_thumb.jpeg" alt="music-arranging-service-image">
                                            <figcaption>
                                                <a href="https://unsplash.com/photos/GbSCAAsU2Fo">Photo</a> by <a href="https://unsplash.com/@stefany_andrade?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Stefany Andrade</a> on <a href="https://unsplash.com/s/photos/sheet-music?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                            </figcaption>
                                        </figure></div>
                                    <div class="media-body">
                                        <dt class="media-heading">Music Arranging and Preparation</dt>
                                        <dd>Chris' experience as a staff arranger in the Air Force band makes him well versed in music notation software. He can crank out charts for your musicians in short order and at a reasonable rate.</dd>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left"><figure>
                                    <img src="/images/maksym-kaharlytskyi-h7aZZ9fM3hI-unsplash_thumb.jpeg" alt="session-musician-image">
                                    <figcaption><a href="https://unsplash.com/photos/h7aZZ9fM3hI">Photo</a> by <a href="https://unsplash.com/@qwitka?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Maksym Kaharlytskyi</a> on <a href="https://unsplash.com/s/photos/recording-studio-musicians?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </figcaption>
                                    </figure></div>
                                    <div class="media-body">
                                        <dt class="media-heading">Session Musicians</dt>
                                        <dd>We have access to a large pool of very talented local musicians.</dd>
                                    </div>
                                </div>
                                .media>.media-left>figure>img+figcaption^^.media-body>dt.media-heading+dd
                            </dl>
                        </div>
                    </div>
                </div> 
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title " data-toggle="collapse" data-target="#video-post" data-parent="#accordion" >Video Post</h4>
                    </div>
                    <div id="video-post" class="panel-collapse collapse touch-scroll">
                        <div class="panel-body">
                            <dl>
                               <div class="media">
                                   <div class="media-left">
                                       <figure>
                                          <img src="/images/george-kroeker-EqefcBgJTzw-unsplash_thumb.jpeg" alt="production-dialog-editing-service-image">
                                           <figcaption><a href="https://unsplash.com/photos/EqefcBgJTzw">Photo</a> by <a href="https://unsplash.com/@gmk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">George Kroeker</a> on <a href="https://unsplash.com/s/photos/final-cut-editing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </figcaption>
                                       </figure>
                                   </div>
                                   <div class="media-body">
                                       <dt class="media-heading">Production Dialogue Editing</dt>
                                       <dd>We can polish your production sound, work with sync issues, assess the overall quality, and make the transition to ADR painless.</dd>
                                   </div>
                               </div>
                                <dt></dt>
                                <dd></dd>
                                <dt>ADR</dt>
                                <dd>If your production needs it, we can capture new dialogue and ensure perfect synchronization with the screen. Often times the dialog in a project needs a little help... some breath, click and pop removals; some level balancing and some slight EQ touches.  Taken as a whole, these incremental steps can really add impact to any video, audiobook or mixed media project.  Many times it comes down to finding the right ambience to make the elements blend together and feel like they are in the same space.  Or perhaps there's too much competition for the same piece of the audio spectrum, and some things need to be equalized to allow them to work together.  Even if you're 90% there, its that extra 10% that will put your project over the top!</dd>
                                <dt>Sound Effects</dt>
                                <dd>Our foley production coupled with our large library of effects allows us to deliver unique sounds that add the perfect accent to your story line. </dd>
                                <dt>Music Composition</dt>
                                <dd>Orchestral and mixed element score along with authentic source music.</dd>
                            </dl>    
                        </div>
                    </div>
                </div>              
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title " data-toggle="collapse" data-target="#game-audio" data-parent="#accordion" >Game Audio</h4>
                    </div>
                    <div id="game-audio" class="panel-collapse collapse touch-scroll">
                        <div class="panel-body">
                            <p>With our experience in FMOD, Wwise, and Unreal Editor we can deliver all the audio for your game title. We can also work with your developers during implementation to ensure audio quality in the final product. </p>
                            <dl>
                                <dt>Dialogue</dt>
                                <dd>Working with your vocal talent or ours, we can give you clear and effective dialogue that sets your project apart from the rest.</dd> 
                                <dt>Sound Design</dt>
                                <dd>We do Foley and custom effects and have an extensive effects library. 
                                <dt>Music Composition</dt>
                                <dd>We can provide that epic score for your title.</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title " data-toggle="collapse" data-target="#new-media" data-parent="#accordion" >New Media</h4>
                    </div>
                    <div id="new-media" class="panel-collapse collapse touch-scroll">
                        <div class="panel-body">
                            <dl>
                                <dt>On Hold Messaging</dt>
                                <dd>We can deliver time sensitive messages for your customers. Take advantage of this extremely effective marketing tool by sending your latest offerings directly to your clients.</dd> 
                                <dt>Website Audio</dt>
                                <dd>We will help you design custom effects, ambience, soundtrack, and dialogue that makes your website more effective. Audio can reinforce, accent and focus your visitors on your message and enhance their overall experience. </dd>
                                <dt>Sonic Branding</dt>
                                <dd>Acoustic Branding, Audio Branding, Audio Logo, Sonic Mnemonics, etc. - Regardless of what you call it, Sonic Branding is an effective tool for product and corporate name recognition. Let us help you develop your Sonic Calling Card...</dd>
                                <dt>Audio Books</dt>
                                <dd>Record and edit dialogue, add music and effects, mix and master your audio book project with us.</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title " data-toggle="collapse" data-target="#radio-tv" data-parent="#accordion" >Radio&#47;TV</h4>
                    </div>
                    <div id="radio-tv" class="panel-collapse collapse touch-scroll">
                        <div class="panel-body">
                            <dl>
                                <dt>Radio Spots</dt>
                                <dd>No matter what sort of tone your after, whether it&#39;s shock and awe, rolling on the floor, or reaching for the kleenex, we can deliver the right sounds, dialogue and music to get your point across. </dd>
                                <dt>TV Spots</dt>
                                <dd>Music, ambience, dialogue and effects for your TV ad; broadcast ready.</dd>
                                <dt>Station ID</dt>
                                <dd>Unique sonic signatures delivered in a timely fashion.</dd>
                                <dt>Radio Drama</dt>
                                <dd>Full production of all audio components in the radio show format; live actor recording, editing, overdubs, efx, and music.</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class = "col-md-4">
            <aside role="complementary">
                <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
    </div>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        var url = window.location.href;
        gtag('config', 'UA-20609405-1', {
            'page_title' : 'Services',
            'page_location' : url,
            'page_path' : '/#!/services'
        });
    </script>
</section>