<section class="card sound-design">
<div class = "row">
    <div id="mainText" class = "col-md-8 mainText">
        <header role="heading">
        <h1>Sound Design</h1>
        </header>
        <div class = "row">
            <div class="col-md-6">
                <section>
                    <video id="video-player" controls poster="">
                    <source id="mp4-source" src="" type="video/mp4"/>
                    <source id="webm-source" src="" type="video/webm"/>
                    <source id="ogg-source" src="" type="video/ogg"/>
                    <p>Sorry, Your browser does not support HTML5 video</p>
                    </video>
                    <figcaption>
                        <p>Title: <span id="title">Sound Design Demo 3</span></p>
                    </figcaption>
                </section>
            </div>
            <div class="col-md-6">
                <div id="videos">
                </div>
            </div>
        </div>
        <div id="containers">
                    <h2>Production Notes</h2>
                    <div id="SD6">
                        <h3>Sound Design Demo 6</h3> 
                        <p>Work Performed: Score and Sound Design </p>
                        <p>Here is an example of a current game trailer.  The mood is rather dark as it opens as a dream sequence.  There is a large amount of sci-fi and spacey effects in the intro, followed by an operating room environment and finally a few zombie types.  I used water droplets for a lot of the small object chatter that occurs before the rock tune and near the end of the sequence.  Also of note, I use velcro to create the trail of cracking that connects the zombies.
    Most of the music was done in Logic, and the effects and mix were done in Pro Tools.</p>
                    </div>
                    <div id="SD5">
                        <h3>Sound Design Demo 5</h3>
                        <p>Work Performed: Sound Design, Music Editing</p>
                        <p>This piece showcases both my sound design skills and music editing chops. 
    I did all the sound design in this project and used an existing score from a famous composer to illustrate my abilities of making existing music fit the film.  The soundtrack gives the flick a dark tone, which I think compliments the story nicely.  I did all the work in protools except for the score edit which was done in Audition.</p>
                    </div>
                    <div id="SD8">
                        <h3>Facing Worlds Walk-Thru - Sound Design Demo</h3>
                        <p>Work Performed:  replacement of all ambiences, weapon pickups and discharges</p>
                        <p>This piece illustrates my ability to integrate sound design using the Unreal Editor. I took an existing level and replaced the static sounds as well as recreated weapons pickups and discharges.  I added more ambient and static sounds that were previously there, such as the serpent sounds made from stretching rubber, handling a gel pack and krinkling bubble wrap.  The weapons pickups and discharges were mostly composites using real weapons fire with other unrelated sounds</p>
                    </div>
                    <div id="SD0">
                        <h3>Soundtrack Demo</h3>
                        <p>Work performed: collaborative composition, score mix</p>
                        <p>On this project I contributed an original score to go along with a full length film created by filmmaker Steve Rudolf.  Using a trio of guitar, bass and drums, all with lots of effects, we tracked most of this live, playing along with the edited film.  The scenes that we contributed to were mostly open ended exploration type sequences, so it freed us up quite a bit.  All work was performed in Pro tools on this one.</p>	
                    </div>
                    <div id="SD3">
                        <h3>Sound Design Demo 3</h3>
                        <p>Work Performed: Score, Sound Design and Voice Over</p>
                        <p>This piece illustrates a specific genre in sound design and scoring that I love and wanted to explore. I tried to pay homage to the original scoring philosophy on those old Warner Brothers cartoons. I used traditional orchestral sounds from Logic 8 throughout (except for the electric guitar at the very end) with the harmonic and rhythmic motion exaggerating the hit points.  The sounds that I chose for impacts were also in remembrance of those funny over-the-top sonic nuggets found in those cartoons, as they were often the punchline for the joke.  I ended up pitching up most of the voice over to give it that &quot;cartoony&quot; flavor; we had a lot of fun trying to conjure up a performance from the actors.</p>
                    </div>
                    <div id="SD2">
                        <h3>Sound Design Demo 2</h3>
                        <p>Work Performed: All sound elements including narration and incidental VO</p>
                        <p>This is a funny little commercial about a man, his tax return and a mailbox.  I exaggerated the interaction between the man and the mailbox with the impact sounds to add to the humor.  This project was done exclusively in Pro Tools.</p>
                    </div>
                    <div id="SD1">
                        <h3>Sound Design Demo 1</h3>
                        <p>Work Performed: All sound design and dialog, music editing</p>
                        <p>This was a funny commercial about a man and his best friend who happened to be a cardboard representation of his local car dealer.  I chose a comical swing tune from a library to be soundtrack, replaced all the dialog and added all the ambience and effects.</p>
                    </div>
                    <div id="SD4">
                        <h3>Sound Design Demo 4</h3>
                        <p>Work Performed: All sound design elements and music composition</p>
                        <p>Here&#39;s another project that was partially done in Logic (soundtrack) and in Pro tools (sound design and final mix).  I wanted to recreate a slapstick type audioscape that emphasized a fairly large portion of the movement in this piece.  So, there is a lot of synchronization between the action, score and sound effects.  I used an acoustic guitar as well as virtual guitar samples combined to create the main instrument for the score. </p>
                    </div>
                    <div id="SD7">
                        <h3>Sound Design Demo 7</h3>
                        <p>Work Performed:  All sound design and music composition</p>
                        <p>This project was completed in ProTools exclusively. It's from a short movie about a young girl who is trying to find her pet dragon that was kidnapped. This scene features a a snow battle with some hand to hand combat. Although we weren't able to get close to some real snow, I found some great substitutes including cornstarch and potato flour.</p>
                    </div>
                    <div id="SD9">
                        <h3>Sound Design Demo 9</h3>
                        <p>Work Performed: All sound design and music composition</p>
                        <p>This project was for a game demo and was also done exclusively in Pro tools.  </p>
                    </div>
                    <div id="SD10">
                        <h3>Sound Design Demo 10</h3>
                        <p>Work Performed: All sound design and voice over</p>
                        <p>Here&#39;s another example of a commercial spot with all the voice over and sound design replaced.</p>
                    </div>
                    <div id="SD11">
                        <h3>Sound Design Demo 11</h3>
                        <p>Work Performed :  All sound design, music and voice over</p>
                        <p>This project featured one of my daughters in her voice over debut.  It is an audio form of a children&#39;s book with lots of sound design elements and a subtle soundtrack.</p>
                    </div>
                </div>

    </div>
    <div class = "col-md-4">
        <aside role="complementary">
            <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
        </aside>
    </div>
    </div>
</section>