<section class="card studio-policy">
<div class = "row">
    <div id="maintext" class = "col-md-8 maintext">
        <header role="heading">
        <h1>Studio Policies</h1>
        </header>
        <section>
            <p>
Bookings are reserved with a $50 deposit which is applied to the balance at the session conclusion.  Clients that cancel their sessions within 48 hrs of the start will forfeit their $50 deposit.
</p>
<p>Full payment is due at the end of the session, we accept cash, check or credit card.
            </p>
<p>
Sessions begin and end at the appointed time, please arrive promptly to maximize the
time we have available to record your project.
</p>
            <p>All clients are encouraged to bring a hard drive for data backup. We can burn data DVDs of your project, but it is far less reliable than a external hard drive. Although we will maintain at least one copy of the client's active project,we cannot assume responsibility for the clients data. That's why it is important for the client to keep a copy for themselves. We clear our drives once the project is completed.
</p>
            <p>For more info on getting for your session, check out our <a ng-href="#!/resources">Preparation Tips</a>.</p>
        </section>
    </div>
    <div class = "col-md-4">
        <aside role="complementary">
            <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
        </aside>
    </div>
</div>
     
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'UA-20609405-1', {
            'page_title' : 'Studio Policy',
            'page_location' : url,
            'page_path' : '/#!/studio-policy'
      });
    </script>
</section>