<section class="card topten">
    <div class = "row">
        <div class = "col-md-8 maintext">
            <header role="heading">
            <h1>Top 10 Reasons Why You Should Choose SophiaHat</h1>
            </header>
            <section>
                <div class="scroll-box">

                 <h3>10...</h3><p>Less stress when recording.  With individual headphone mixes,
                 great sightlines and video monitors to cover the gaps, you can see
                 and hear exactly what you want.  The more comfortable you are, the
                 easier it is to get that great performance captured.
            </p>            
                 <h3>9...</h3><p>We use online project folders, for mixes, work orders, time sheets
                 and project tracking.  This means you can listen to roughs, check on the
                 project status, download your finished mixes, and pay your invoice online.
            </p>
                    <h3>8...</h3><p>Our <a href="gear.html">Gear!</a>
                    Check it out... this is part of our secret for making your
                    project sound great.
                </p> 
                <h3>7...</h3><p>Two studios and two engineers means flexibility with booking time, equipment
                and having another pair of trained ears on your project.
                </p>
                <h3>6...</h3><p>Location, Location, Location.  Walking access to restaurants, the lake, and
                coffee shops makes pulling a long session much more palatable.
                </p>
                <h3>5...</h3><p>Great sounding live rooms.  Not one...two.  Those in combination with two
                isolation booths gives the ultimate flexibility of tracking a band together while
                maintaining separation.  Check out our <a href="layout.html">Studio Layout </a>.
                </p>
                <h3>4...</h3><p>Our <a href="rates.html">Rates</a>!  An excellent production for a modest price.
                </p>
                <h3>3...</h3><p>We are conscientious of our client&rsquo;s time, being efficient in every possible way
                to maximize the value and eliminate the stress of the clock.
                </p>
                <h3>2...</h3><p>Our Experience.  Check out our <a href="music.html" title="link to Music page">Music, </a><a href="sound_design.html" title="link to Sound Design page">Sound Design, </a> and <a href="clients.html" title="link to clients page">Clients List</a>.
                </p>
                <h3>and now, the number 1 reason...</h3><p>Besides being engineers we are working musicians, practicing and performing every week out of the year. Who do you want producing your product, someone who has 25 years crafting music, or someone who makes
                beats on their laptop&#63;
                </p>
                </div>
            </section>
        </div>
        <div class = "col-md-4">
            <aside role="complementary">
                <div class="aside" role="complementary" ng-include="'views/sdbr-standard.html'"></div>
            </aside>
        </div>
    </div>
     
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
        var url = window.location.href;
      gtag('config', 'UA-20609405-1', {
            'page_title' : 'Top Ten Reasons',
            'page_location' : url,
            'page_path' : '/#!/top-ten-reasons'
      });
    </script>
</section>